html,body{margin:0;padding:0}
html{
	overflow:auto;
	min-width:320px;
	color:#555;
	background:url(../images/bg.png);background-color:#E7E7F2;background-attachment:fixed}

	/*>>>>> HEADER */
	.headerCover{
		overflow:hidden;
		height:80px;width:100%}
	.header{
		z-index:20;position:fixed;
		left:0;top:0;
		height:80px;width:100%;
		background:linear-gradient(to top,#7979B7,#4C62CF)}
		.headerLogo{
			position:relative;float:left;
			height:80px;width:240px;
			background:url(../images/logo.png);background-size:100% auto}
			.headerLogo:after{
				display:block;position:absolute;
				right:5px;bottom:0px;
				font:normal 12px/18px sans-serif;text-align:center;color:#fff;
				content:'сервис поиска и заказа зоотоваров'}
	
		.headerItem{
			position:relative;
			height:68px;width:calc(33.3% - 104px);
			float:left;margin:8px 0px 0px 0px;
			font:normal 12px/20px sans-serif;text-align:center;color:#fff;
			border-bottom:4px solid #7979B7;
			opacity:0.8;cursor:pointer}
			.headerItem:hover{opacity:1}
			.headerItem:before{
				display:block;
				height:48px;width:48px;
				margin-left:calc(50% - 24px);
				content:'';
				transform:scale(0.6)}
			.headerItem.active{
				border-color:#E7E7F2;
				background:linear-gradient(to top,#6F6FA8,#5064CC);
				opacity:1}
				.headerItem.active:before{transform:scale(1)}
				.headerItem.navUsers:before{background:url(../images/iAdmin.png) 0px 0px;background-size:100% auto}
				.headerItem.navUsers:after{content:'Продавцы'}
				.headerItem.navOrders:before{background:url(../images/iAdmin.png) 0px -52px;background-size:100% auto}
				.headerItem.navOrders:after{content:'Заказы'}
				.headerItem.navBuyers:before{background:url(../images/iAdmin.png) 0px -104px;background-size:100% auto}
				.headerItem.navBuyers:after{content:'Покупатели'}
			.counter{
				display:block;
				position:absolute;
				top:0;right:-36px;
				height:18px;min-width:8px;
				margin-right:50%;padding:0 5px;
				font:normal 14px/18px sans-serif;text-align:center;color:#fff;
				border-radius:9px;
				background:#fb3f4c}
		@media (max-width:560px){ .headerItem{width:calc(33.3% - 24px)} .headerLogo{display:none}}
		.headerMenu{/* button menu */
			position:relative;
			height:70px;width:70px;
			float:right;margin:5px 1px;
			opacity:0.8;cursor:pointer}
			.headerMenu:hover{opacity:1}
			.headerMenu div,.headerMenu div:before,.headerMenu div:after{
				height:4px;width:36px;
				border-radius:2px;
				background:#fff}
			.headerMenu div{margin:33px 17px}
				.headerMenu div:before,.headerMenu div:after{
					display:block;
					position:absolute;
					left:17px;
					content:''}
				.headerMenu div:before{top:23px}
				.headerMenu div:after{top:43px}
	/* HEADER <<<<<*/

	/* >>>>> BUTTON CLOSE */
	.close{
		position:relative;
		float:right;
		opacity:0.7;cursor:pointer}
		.close:hover{opacity:1}
		.close:before,.close:after{
			position:absolute;
			content:''}
			.close:before{transform:rotate(45deg)}
			.close:after{transform:rotate(-45deg)}
	/* BUTTON CLOSE <<<<<*/

	/*>>>>> MAIN MENU */
	.cover{
		z-index:30;position:fixed;
		height:100%;width:100%;
		left:0;top:0;
		overflow:auto;
		background:linear-gradient(to top, #7979B7, #4C62CF)}
		.cover .close{
			height:72px;width:72px;
			margin:4px 1px}
			.cover .close:before,.cover .close:after{
				height:6px;width:72px;
				top:33px;
				border-radius:3px;
				background-color:#fff}
		.menu{
			overflow:hidden;
			height:auto;width:250px;
			margin-top:80px;
			margin-left:calc(50% - 125px)}
			.menu div{
				position:relative;
				float:left;
				margin-bottom:24px;padding-left:100px;
				height:76px;width:150px;
				font:normal 300 18px/36px sans-serif;color:#fff;
				opacity:0.8;
				cursor:pointer}
				.menu div:hover{opacity:1;text-decoration:underline}
				.menu div:hover:before{transform:scale(1)}
					.menu div:before{
						z-index:999;display:inline-block;
						position:absolute;
						top:0px;left:0px;
						height:72px;width:72px;
						content:'';
						border:2px solid #fff;border-radius:50%;
						transform:scale(0.8)}
					.menu div:after{white-space:pre}
					.menu .promo:before{background:url(../images/iAdmin.png) 0px -234px;background-size:100% auto}
					.menu .promo:after{content:'ПРОМО-КОДЫ \A (бонусы)'}
					.menu .payments:before{background:url(../images/iAdmin.png) 0px -312px;background-size:100% auto}
					.menu .payments:after{content:'ПЛАТЕЖИ \A б.н. расчеты'}
					.menu .settings:before{background:url(../images/iAdmin.png) 0px -390px;background-size:100% auto}
					.menu .settings:after{content:'НАСТРОЙКИ \A платформы'}
					.menu .logout:before{background:url(../images/iAdmin.png) 0px -468px;background-size:100% auto}
					.menu .logout:after{content:'ВЫХОД \A администратора'}
	/* MAIN MENU <<<<<*/
	.part{
		position:relative;overflow:hidden;
		height:auto;width:320px;
		margin:25px auto 25px auto;padding:0;
		border-radius:10px;
		box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1)}
		@media (min-width:638px){.part{width:630px}}
	.item{
		position:relative;overflow:hidden;
		height:auto;width:310px;
		margin:15px auto 15px auto;padding:5px 0;
		border-radius:5px;
		background:url(../images/bg2.png) #fff;
		box-shadow:0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.25)}
		.part .item{margin:5px auto}
		@media (min-width:638px){.item{width:620px}}
		.part .item{margin:0 auto 5px auto}
		.part .item:first-child{margin-top:5px}
		.off div,.old div,.off span,.old span{opacity:0.8}
	input[type="text"],input[type="password"],input[type="button"],input[type="submit"]{
			-webkit-appearance:none;-moz-appearance:none;appearance:none!important;
			margin:0;
			text-align:center;
			cursor:pointer}
			input[type="text"],input[type="password"]{
				display:inline-block;padding:0;
				color:inherit;
				border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;
				border:2px solid #B5B4B7}
			input[type="button"],input[type="submit"],.price label,.catalogSettings label{
				display:block;
				height:38px;
				font:normal 12px/38px 'Arial';color:#fff;
				float:right;margin:0 calc(50% - 155px) 5px 5px;padding:0 15px;
				border:none;border-radius:5px;
				
				background:#4C62CF;
				box-shadow:0 7px 14px rgba(0,0,0,0.25),0 5px 5px rgba(0,0,0,0.25)}
				@media (min-width:620px){input[type="button"]{margin:0 calc(50% - 310px) 5px 5px} input[type="submit"]{margin:0 calc(50% - 310px) 5px 5px}}
				.part input[type="button"],.part input[type="submit"],.minPart input[type="button"],.minPart input[type="submit"]{float:right;margin:0 5px 5px 5px;}
				input[type="button"]:hover,input[type="submit"]:hover,.price label:hover,.catalogSettings label:hover{color:#fff;background:#354592;box-shadow:0 7px 14px rgba(0,0,0,0.45),0 5px 5px rgba(0,0,0,0.45)}
		textarea{
			display:block;
			font:normal 14px/16px 'Arial';color:inherit;
			border-radius:5px;border:2px solid #B5B4B7;
			resize:none}
		select{
			height:36px;width:94px;
			-webkit-appearance:none;box-shadow:none;
			-moz-appearance:none;text-indent:0.01px;text-overflow:'';
			-ms-appearance:none;
			appearance:none!important;
			color:inherit;
			border:2px solid #B5B4B7;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;
			background:url('../images/select-arrow.png')no-repeat, #fff;
			background-position:right center;
			cursor:pointer}

	/*>>>>> CHECKBOX */
	.checkbox{width:75px;float:right;margin:3px 0}
		.checkbox input{float:left;opacity:0;z-index:-10}
		.checked{position:relative;float:left}
			.checked:before{position:absolute;left:0;height:20px;width:50px;border-radius:10px;content:'';background:#B5B4B7;box-shadow:inset 0 2px 3px rgba(0,0,0,.2);transition:0.25s}
			.checked:after{position:absolute;top:2px;left:2px;width:16px;height:16px;border-radius:50%;content:'';background:#FFF;box-shadow:0 2px 5px rgba(0,0,0,.3);transition:0.25s}
				.checkbox input:checked + .checked:before{background:#4C62CF}
				.checkbox input:checked + .checked:after{left:32px}
	/* CHECKBOX <<<<<*/

	/* >>>>> RATE */
	.rate{
		position:relative;
		height:14px;width:72px;
		float:right;margin:0 5px 22px 5px;
		background:url(../images/iAdmin.png) 0px -4524px}
		.rate div{height:100%;background:url(../images/iAdmin.png) -72px -4524px}
		.rate span{position:absolute;height:14px;top:14px;left:0px;width:72px;font:600 14px/14px sans-serif}
			.rate span:before{content:"оценка ";font:300 10px/14px sans-serif}
			.rate span:after{content:"%"}
	/* RATE <<<<<*/

	/*>>>>> USERS */
	.user .part1,.user .part3{position:absolute;width:155px;;color:#354592}
		.user .part1{top:5px;left:0px}
			.user .part1 span:first-child{font:600 12px/12px sans-serif}
		.user .part2{height:auto;width:calc(100% - 310px);margin:0px 155px}
			.user .part2 span:first-child{font:300 14px/32px sans-serif}
				.user .part2 span:first-child sup{
					display:inline-block;
					min-width:16px;
					margin-left:2px;
					font:600 10px/16px sans-serif;color:#fff;text-align:center;
					border-radius:8px;
					background:#354592}
		.user .part3{top:37px;right:0px}
		@media (max-width:638px){.user .part2{width:100%;margin:51px 0px 0px 0px}}
			.user div span{display:block}
				.user .part1 span:before,.user .part2 span:before,.user .part3 span:before{
					display:inline-block;
					float:left;
					content:''}
				.user .part1 span:first-child,.user .part2 span:first-child{
					display:block;
					overflow:hidden;
					height:32px;
					padding-left:0}
					.user .part1 span:first-child:before,.user .part2 span:first-child:before{
						height:24px;width:24px;
						margin:4px}
			.user .part1 span,.user .part2 span,.user .part3 span{
				padding-left:7px;
				font:300 12px/14px sans-serif;color:#7979B7}
				.user .part1 span:before,.user .part2 span:before,.user .part3 span:before{
					height:12px;width:12px;
					margin:1px;
					font-weight:600}

	/*>>>>> seller*/
	.user.seller .part1 span:first-child:before{background:url(../images/iAdmin.png) 0px -182px;background-size:100% auto}
	.user.seller .part1 span:first-child:after{content:''}
	.user.seller .part1 span:before{background:url(../images/iAdmin.png) 0px -117px;background-size:100% auto}
	.user.seller .part1 span:after{content:' грн'}
	.user.seller .part2 span:first-child:before{background:url(../images/iAdmin.png) 0px -208px;background-size:100% auto}
	.user.seller .part2 span:before{background:url(../images/iAdmin.png) 0px -130px;background-size:100% auto}
	.user.seller .part3 span:before{background:url(../images/iAdmin.png) 0px -143px;background-size:100% auto}
	/*seller <<<<<*/

	/*>>>>> shop*/
	.user.shop .part1 span:first-child:before{background:url(../images/iAdmin.png) 0px -182px;background-size:100% auto}
	.user.shop .part1 span:first-child:after{content:''}
	.user.shop .part1 span:before{background:url(../images/iAdmin.png) 0px -169px;background-size:100% auto}
	.user.shop .part1 span:after{content:' заказов'}
	.user.shop .part2 span:first-child:before{background:url(../images/iAdmin.png) 0px -312px;background-size:100% auto}
	.user.shop .part2 span:first-child sup{padding:0 5px}
		.user.shop .part2 span:first-child sup:before{content:'id:'}
	.user.shop .part2 span:before{background:url(../images/iAdmin.png) 0px -182px;background-size:100% auto}
	.user.shop .part3 span:before{background:url(../images/iAdmin.png) 0px -195px;background-size:100% auto}
	.user.shop .part3 span:after{content:' товаров'}
	/*shop <<<<<*/

	/*>>>>> shop*/
	.user.buyer .part1 span:first-child:before{background:url(../images/iAdmin.png) 0px -182px;background-size:100% auto}
	.user.buyer .part1 span:first-child:after{content:''}
	.user.buyer .part1 span:before{background:url(../images/iAdmin.png) 0px -117px;background-size:100% auto}
	.user.buyer .part1 span:after{content:' грн'}
	.user.buyer .part2 span:first-child:before{background:url(../images/iAdmin.png) 0px -728px;background-size:100% auto}
	.user.buyer .part2 span:before{background:url(../images/iAdmin.png) 0px -130px;background-size:100% auto}
	.user.buyer .part3 span:before{background:url(../images/iAdmin.png) 0px -143px;background-size:100% auto}
	/*shop <<<<<*/
	.cursor{cursor:pointer}
	.cursor:hover{color:#354592;text-decoration:underline}
	/* USERS <<<<<*/

	/*>>>>> PRICE */
	.price input[type="file"]{opacity:0;height:1px;width:1px;}
	.price label,.price input[type="button"],.price input[type="submit"]{float:right;margin:5px;border:none}

	.table{float:left;margin:5px 5px 0 5px;padding:0 0 5px 0;  border-bottom:1px solid #B5B4B7;cursor:pointer}
		.table:hover{color:#354592;box-shadow: inset 0px 0px 15px rgba(76,98,207,0.1)}
		.table.empty{background:url(../images/bg2.png) #ff8300}
		.table:last-child{border:none}
		.table div{height:36px}
		.table .no{height:36px;width:45px;float:left;font:300 12px/36px sans-serif;text-align:center}
		.table .name{width:310px;float:left;font:300 12px/18px sans-serif}
			.table .name span:first-child{font-weight:600}
				.table .name span:first-child:before{content:'\201c'}
				.table .name span:first-child:after{content:'\201d'}
			.table .name span:last-child{margin:0 5px;padding:0 5px;border:1px solid #354592;border-radius:10px;font:300 12px/16px sans-serif}

		.table .details{float:right;font:300 12px/18px sans-serif}
			.table .details span{display:block;height: 18px;width:64px;margin:9px 0;float:left;text-align:center;border-left:1px solid #B5B4B7;}
				.table .details span:after{margin-left:3px;content:'шт.';font-size:10px}
				.table .details span:first-child{width:109px}
					.table .details span:first-child:after{content:''}
				.table .details span:last-child{width:74px;text-align:right;padding-right:5px}
					.table .details span:last-child:after{content:'грн'}
	@media (max-width:638px){.table .no{height:60px;font:300 12px/60px sans-serif} .table .name{width:255px} .table .details{height:24px} .table .details span{margin:3px 0}}

	.priceEdit{
		z-index:20;
		position:fixed;
		height:auto;width:300px;
		top:40%;left:50%;margin-left:-155px;padding:5px;
		background:url(../images/bg2.png)#fff;
		border-radius:5px;
		font:300 16px/18px sans-serif;color:#000;text-align:justify;
		box-shadow:0 14px 28px rgba(0,0,0,0.25),0 0 10px rgba(0,0,0,0.35)}
		.priceEdit .delete{height:36px;width:auto;margin:2px 7px;float:left;font:300 12px/36px sans-serif}
		.priceEdit .delete:before{content:'удалить товар';text-decoration:underline;cursor:pointer}
			.priceEdit .delete:hover:before{color:#ff0000}

		.priceEdit .close{height:36px;width:36px;margin:2px}
			.priceEdit .close:before,.priceEdit .close:after{height:3px;width:36px;top:16px;border-radius:2px;background-color:#354592}

		.priceEdit img{display:block;height:48px;width:48px;float:left;margin:0;clear:left}
		.priceEdit .specifications{overflow:hidden;width:252px;float:left}
			.priceEdit .specifications div:first-child{height:28px;font:300 12px/14px sans-serif;color:#354592}
			.priceEdit .specifications div:first-child span:first-child{font-weight:600}
			.priceEdit .specifications div:first-child span:first-child:before{content:'\201c'}
			.priceEdit .specifications div:first-child span:first-child:after{content:'\201d'}
			.priceEdit .specifications div:last-child span:first-child{font:300 14px/20px sans-serif}
			.priceEdit .specifications div:last-child span:first-child:before{display:inline-block;height:12px;width:12px;float:left; margin:4px 2px 4px 0;content:'';background:url(../images/iAdmin.png) 0px -351px;background-size:100% auto}
			.priceEdit .specifications div:last-child span:last-child{display:inline-block;margin:1px 5px;padding:0 8px;border:1px solid #354592;border-radius:10px;font:300 12px/16px sans-serif;color:#354592}

		.priceEdit input{margin:10px 5px;}
		.priceEdit input[type="text"]{height:32px;width:75px;float:left;border:2px solid #B5B4B7}

		.priceEdit input[type="submit"]{
			height:38px;
			float:right;padding:0 15px;
			border:none;border-radius:5px;
			color:#fff;
			background:#4C62CF;
			box-shadow:0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.25)}
			.priceEdit input[type="submit"]:hover{background-color:#354592;box-shadow:0 7px 14px rgba(0,0,0,0.5),0 5px 5px rgba(0,0,0,0.5);transform:scale(0.95)}
	/* PRICE <<<<<*/

	/* >>>>> CHANGE */
	.changeTimetable div,.changeDelivery div,.changeDiscount div,.changeContacts div{
		height:auto;width:300px;
		float:left;margin:0px 5px;padding:5px 0;
		font:normal 12px/36px sans-serif;text-align:center;
		border-bottom:1px dotted #B5B4B7}
		.changeContacts input[type="text"],.changeContacts input[type="password"]{
			height:36px;width:296px;
			float:left;margin:5px}
		.changeTimetable div:last-child,.changeDelivery div:last-child,.changeDiscount div:last-child,.changeContacts div:last-child{border:none}
		.changeTimetable div:first-child:before,.changeDelivery div:first-child:before,.changeDiscount div:first-child:before{
			height:36px;width:36px;
			float:left;
			content:''}
		.deleteShop:before{content:'удалить магазин';text-decoration:underline;cursor:pointer}
			.deleteShop:hover:before{color:#ff0000}
		.changeTimetable div:first-child:before{background:url(../images/iAdmin.png) 0px -273px;background-size:100% auto}
		.changeTimetable div:first-child:after{font:600 16px/36px sans-serif;color:#354592;content:'График работы магазина'}
		.changeTimetable .MO:before{content:"Понедельник"}
		.changeTimetable .TU:before{content:"Вторник"}
		.changeTimetable .WE:before{content:"Среда"}
		.changeTimetable .TH:before{content:"Четверг"}
		.changeTimetable .FR:before{content:"Пятница"}
		.changeTimetable .SA:before{content:"Суббота"}
		.changeTimetable .SU:before{content:"Воскресенье"}
		.changeTimetable div select{height:36px;width:94px}
			.changeTimetable div select.from{float:left}
			.changeTimetable div select.to{float:right}

		.changeDiscount div:first-child:before{background:url(../images/iAdmin.png) 0px -1014px;background-size:100% auto}
		.changeDiscount div:first-child:after{font:600 16px/36px sans-serif;color:#354592;content:'Скидки магазина'}
		.changeDiscount div:before{content:'Скидка '}
		.changeDiscount div:after{content:'при заказе от '}
			.changeDiscount div select{height:36px;width:54px}
			.changeDiscount div input[type="text"]{height:32px;width:90px;float:right;margin:0px}

		.changeDelivery div:first-child:after{font:600 12px/18px sans-serif;color:#354592;white-space:pre}
		.changeDelivery .pickup:before{background:url(../images/iAdmin.png) 0px -819px;background-size:100% auto}
		.changeDelivery .pickup:after{content:'Самовывоз из магазина\A(если есть магазин)'}
		.changeDelivery .express:before{background:url(../images/iAdmin.png) 0px -858px;background-size:100% auto}
		.changeDelivery .express:after{content:'Экспресс доставка\A(радиус доставки)'}
		.changeDelivery .today:before{background:url(../images/iAdmin.png) 0px -897px;background-size:100% auto}
		.changeDelivery .today:after{content:'Доставка сегодня\A(прием заказов)'}
		.changeDelivery .tomorrow:before{background:url(../images/iAdmin.png) 0px -936px;background-size:100% auto}
		.changeDelivery .tomorrow:after{content:'Доставка на завтра\A(прием заказов)'}
		.changeDelivery .post:before{background:url(../images/iAdmin.png) 0px -975px;background-size:100% auto}
		.changeDelivery .post:after{content:'Пересылка по Украине\A(тип оплаты)'}

		.changeDelivery .delMin:after{content:'Минимальная сумма заказа:'}
		.changeDelivery .delCost:after{content:'Стоимость доставки:'}
		.changeDelivery .delFree:after{content:'Бесплатная доставка от:'}

			.changeDelivery div select{height:36px;width:94px;float:right}
			.changeDelivery div input[type="text"]{height:32px;width:90px;float:right;margin:0px}
	.map iframe{
		display:block;
		height:320px;width:calc(100% - 14px);
		margin:5px auto;
		border-radius:5px;
		border:none}
	.map textarea{
		height:64px;width:calc(100% - 24px);
		margin:5px auto;padding:5px}
		@media (min-width:620px){.addShopAddress textarea{height:32px}}
	/* CHANGE <<<<<*/

	/* >>>>> SETTINGS */
	.settingsContact input[type="text"],.settingsPassword input[type="password"]{
		height:36px;width:296px;
		float:left;margin:5px}
	.settingsContact:after,.settingsPassword:after{
		display:inline-block;
		margin:0 10px;
		font:300 12px/16px sans-serif;color:#354592}
		.settingsContact:after{content:'- контактные данные (недоступны другим пользователям)'}
		.settingsPassword:after{content:'- пароль для входа в Кабинет (можете изменить его в любой момент)'}
	/* SETTINGS <<<<<*/

	/*>>>>> ORDERS */
	.orderContact .time,.orderContact .phone,.orderContact .shop{position:absolute;top:5px;width:155px;color:#354592}
	.orderContact .time{left:0px}
	.orderContact .phone{right:0px}
	.orderContact .delivery{min-height:64px;width:calc(100% - 310px);margin:0px 155px}
		@media (max-width:620px){.orderContact .delivery{width:100%;margin:60px 0px 0px 0px}}
		.orderContact div span{display:block}
			.orderContact span:before{display:inline-block;float:left;content:''}
			.orderContact span:first-child:before{
				height:24px;width:24px;
				margin:4px}
		.orderContact .time span:last-child,.orderContact .phone span:last-child,.orderContact .delivery span:last-child{
			display:table-cell;vertical-align:middle;
			height:28px;
			padding-left:12px;
			font:300 12px/14px sans-serif;color:#7979B7}
			.orderContact .time span:last-child:before,.orderContact .phone span:last-child:before,.orderContact .delivery span:last-child:before{
				height:12px;width:12px;
				margin:1px;
				font-weight:600}
		.orderContact .time span:first-child{overflow:hidden;height:36px;font:600 12px/12px sans-serif}
			.orderContact .time span:first-child:before{background:url(../images/iAdmin.png) 0px -182px;background-size:100% auto}
			.orderContact .time span:last-child{cursor:pointer}
			.orderContact .time span:last-child:hover{color:#354592;text-decoration:underline}
			.orderContact .time span:last-child:before{content:'#'}
		.orderContact .delivery span:first-child{overflow:hidden;font:300 12px/16px sans-serif}
			.orderContact .delivery span:first-child:before{background:url(../images/iAdmin.png) 0px -416px;background-size:100% auto}
			.orderContact .delivery span:last-child:before{background:url(../images/iAdmin.png) 0px -247px;background-size:100% auto}
		.orderContact .phone span:first-child{overflow:hidden;height:32px;font:600 12px/32px sans-serif}
			.orderContact .phone span:first-child:before{background:url(../images/iAdmin.png) 0px -442px;background-size:100% auto}
		.orderContact .phone span:last-child{cursor:pointer}
			.orderContact .phone span:last-child:hover{color:#354592;text-decoration:underline}
			.orderContact .phone span:last-child:before{background:url(../images/iAdmin.png) 0px -260px;background-size:100% auto}

	.orderProduct{overflow:hidden;margin:0 5px 5px 5px;padding-top:5px;border-top:1px dotted #B5B4B7}
		.orderProduct img{display:block;height:48px;width:48px;float:left;margin:0}
		.orderProduct .specifications{overflow:hidden;width:252px;float:left}
			.orderProduct .specifications div:first-child{height:28px;font:300 12px/14px sans-serif;color:#354592}
			.orderProduct .specifications div:first-child span:first-child{font-weight:600}
			.orderProduct .specifications div:first-child span:first-child:before{content:'\201c'}
			.orderProduct .specifications div:first-child span:first-child:after{content:'\201d'}
			.orderProduct .specifications div:last-child span:first-child{font:300 14px/20px sans-serif}
			.orderProduct .specifications div:last-child span:first-child:before{display:inline-block;height:12px;width:12px;float:left;margin:4px 2px 4px 0;content:'';background:url(../images/iAdmin.png) 0px -351px;background-size:100% auto}
			.orderProduct .specifications div:last-child span:last-child{display:inline-block;margin:1px 5px;padding:0 8px;border:1px solid #354592;border-radius:10px;font:300 12px/16px sans-serif;color:#354592}
		.orderProduct .cost{overflow:hidden;width:300px;float:right;margin:5px 0;color:#354592}
			.orderProduct .cost span{display:inline-block;width:80px;float:left;font:600 14px/18px sans-serif;text-align:center}
				@media (min-width:620px){.orderProduct .cost span{font:600 14px/38px sans-serif}}
				.orderProduct .cost span:before{margin-right:10px;content:'X'}
				.orderProduct .cost span:after{margin-left:2px;font-size:12px;font-weight:300;content:'шт.'}
				.orderProduct .cost span:first-child{width:110px}
				.orderProduct .cost span:first-child:before{content:''}
				.orderProduct .cost span:first-child:after{content:'грн'}
				.orderProduct .cost span:last-child{width:110px}
				.orderProduct .cost span:last-child:before{content:'='}
				.orderProduct .cost span:last-child:after{content:'грн'}
		.orderTotal{position:relative;width:110px;height:36px;float:right;margin:0 5px 5px 5px;padding-top:5px;border-top:1px dotted #B5B4B7;font:600 14px/18px sans-serif;color:#354592;text-align:center}
			.orderTotal:before{position:absolute;display:block;height:36px;width:36px;margin:0 0 0 -40px;content:'';background:url(../images/iAdmin.png) 0px -702px;background-size:100% auto}
			.orderTotal .old{text-decoration:line-through;color:#B5B4B7}
			.orderTotal span:after{margin-left:2px;font-size:12px;font-weight:300;content:'грн'}
	/* ORDERS <<<<<*/

	/*>>>>> FEEDBACKS */
	.feedbacks{overflow:visible}
		.feedbacks:before{
			position:absolute;visibility:visible;
			top:-10px;left:0px;
			border:10px solid transparent;border-left:12px solid #F9F9F9;
			content:''}
		.feedbacks div:first-child{float:left}
			.feedbacks div:first-child span{
				display:inline-block;
				font:300 12px/28px sans-serif;color:#7979B7}
				.feedbacks div:first-child span:first-child:before{
					display:inline-block;
					height:24px;width:24px;
					float:left;margin:2px 5px;
					content:'';
					background:url(../images/iAdmin.png) 0px -182px;background-size:100% auto}
		.feedbacks div:last-child span{
			display:inline-block;
			margin:5px 25px;
			font:300 12px/16px sans-serif}
		.feedbacks div:last-child span:first-child{
			position:relative;
			clear:both;
			text-align:justify}
			.feedbacks div:last-child span:first-child:before,.feedbacks div:last-child span:first-child:after{
				position:absolute;
				font:600 32px/32px serif;color:#7979B7}
			.feedbacks div:last-child span:first-child:before{left:-20px;content:'\201c'}
			.feedbacks div:last-child span:first-child:after{right:-20px;content:'\201d'}
	/* FEEDBACKS <<<<<*/

	/* PAYMENTS-PROMO >>>>>*/
	.transfer{float:left;margin:5px 5px 0 5px;padding:0 0 5px 0;border-bottom:1px solid #B5B4B7}
		.transfer:last-child{border:none}
		.transfer div{height:36px}
		.transfer .no{height:36px;width:45px;float:left;font:300 12px/36px sans-serif;text-align:center}
		.transfer .name{width:310px;float:left;font:300 12px/18px sans-serif}
		.transfer .name span{float:left}
			.transfer .name span:first-child{cursor:pointer}
			.transfer .name span:first-child:hover{color:#354592;text-decoration:underline}
			.transfer .name span:before{
				float:left;
				display:inline-block;
				height:12px;width:12px;
				margin:3px 3px 3px 12px;
				content:''}
				.transfer .name span:first-child:before{background:url(../images/iAdmin.png) 0px -260px;background-size:100% auto}
				.transfer .name span:last-child:before{background:url(../images/iAdmin.png) 0px -143px;background-size:100% auto}
		.transfer .details{float:right;font:300 12px/18px sans-serif}
			.transfer .details span{display:block;height: 18px;width:125px;margin:9px 0;float:left;text-align:center;border-left:1px solid #B5B4B7;}
				.transfer .details span:last-child:after{content:' грн';font-size:10px}
	@media (max-width:638px){.transfer .no{height:60px;font:300 12px/60px sans-serif} .transfer .name{width:255px} .transfer .details{height:24px} .transfer .details span{margin:3px 0}}
	
	.promoCode div{
		height:auto;width:290px;
		float:left;margin:5px 10px}
		.promoCode div:first-child:before{font:600 12px/36px sans-serif;color:#354592;content:'Сумма пополнения (грн): '}
		.promoCode input[type="text"]{height:34px;width:100px;float:right;margin:0}
		.promoCode input[type="button"],.promoCode div input[type="submit"]{margin:0}
	/*<<<<< PAYMENTS-PROMO */

	/* SETTINGS >>>>>*/
	.catalogSettings div,.siteSettings .cartOff,.siteSettings .registerOff{
		height:auto;width:290px;
		float:left;margin:5px 10px}
		.catalogSettings div span{display:block;clear:both;font:600 12px/16px sans-serif;color:#354592}
		.catalogSettings div span:after{content:' шт.'}
		.catalogSettings input[type="button"],.catalogSettings div input[type="submit"],.catalogSettings label{float:right;margin:5px}
		.catalogSettings input[type="file"]{opacity:0;height:1px;width:1px}
		.catalogSettings .subgroups span:before{content:'Подгруппы каталога: '}
		.catalogSettings .brands span:before{content:'Бренды каталога: '}
		.catalogSettings .properties span:before{content:'Свойства товаров: '}
		.catalogSettings .goods span:before{content:'Товары каталога: '}
	.siteSettings div:before{font:600 12px/26px sans-serif;color:#354592}
		.siteSettings .cartOff:before{content:'Корзина покупателя на Сайте:'}
		.siteSettings .registerOff:before{content:'Форма регистрации Продавцов:'}
	/*<<<<< SETTINGS */