/*---------- БРЕНДЫ ТОВАРОВ ----------*/

.brandCell{
	width:33.3%;
	height:auto;
	float:left;
}
	@media (min-width:840px) {.brandCell{width:25%;}}
	@media (min-width:1040px) {.brandCell{width:20%;}}
	@media (min-width:1240px) {.brandCell{width:16.6%;}}

	.brandCell label{
		display: block;
		position: relative;
		height: 69px;
		width: 96px;
		
		margin: 5px auto;
		overflow: hidden;
		padding: 0px;
	}
		.brandCell img{
			position: relative;
			height: 69px;
			width: 96px;
		}
		.brandCheck{
			position: absolute;
			top:0px;
			left:0px;
			height: 67px;
			width: 94px;
			border: 1px solid #e6e6e6;
		}
		.checkBrand{
			display: none;
		}
.checkBrand:checked ~ .brandCheck{
	background:rgba(60,130,240,0.1);
	border: 1px solid #3c82f0;
}

/*---------- БРЕНДЫ ТОВАРОВ ----------*/