/*---------- КАТЕГОРИИ ТОВАРОВ ----------*/
.catCell{
	height:auto;
	width:100%;
	float:left;
}				
	@media (min-width:1240px) {.catCell{width:50%;}}
	@media (min-width:1860px) {.catCell{width:33.3%;}}


	.catItem{
		overflow: hidden;
		height: auto;
		width: auto;
		margin: 8px 3px;
		background: #fff;
		border:1px solid #e6e6e6;
	}
		.catItem label{
			height: auto;
			width: 300px;
			overflow: hidden;		
			margin: 3px auto;
		}
/*---------- КАТЕГОРИИ ТОВАРОВ ----------*/