.nmBRAND{font-weight:bold;}
	.nmBRAND:before, .nmBRAND:after{content:'"';}
.nmMODEL{font-style:italic;}
.nmWEIGHT{padding:1px 8px;border:1px solid #3c82f0;border-radius:12px;}
/*---------- КАРТОЧКА ТОВАРА ----------*/
.Goods{
	height:auto;width:300px;	
	margin:5px auto;
	overflow:hidden;
	font-weight: normal;
	border:1px solid #e6e6e6;
	background:#fff;
}
	.Goods:hover{border-color:#3c82f0;}
	.Goods div,.Goods img{margin:4px;}
	.nmGoods,.dsGoods{border-bottom:1px solid #e6e6e6;}
	.nmGoods{
		height:40px;width:292px;
		float:left;
		text-align:center;
		font-size:1em;
		line-height:1.25em;
		color:#235A96;
	}
	.dsGoods{
		height:146px;width:176px;
		float:right;
		text-align:justify;
		font-size:.875em;
		line-height:1em;
		color:666666;
	}
	.phGoods{
		height:108px;width:108px;
		float:left;
	}
	.prGoods{
		height:30px;width:30px;
		float:left;
	}
	.Goods select{margin:10px;float:left;width:164px;}
	.Goods input[type="button"]{margin:10px;float:left;width:96px;}
/*---------- КАРТОЧКА ТОВАРА ----------*/