/*---------- ХЕДЕР САЙТА ----------*/

.header{
	position: relative;
	height: 80px;
	width: 100%;
	background: url(../images/logo.png) no-repeat,#F7F9FB;
	}	
	.btnMenu,.btnClose{
		position: relative;
		width:72px;
		height:72px;
		margin:4px;
		float:right;
		cursor:pointer;
	}
		.btnMenu:before,.btnMenu:after,.btnClose:before,.btnClose:after{
			position:absolute;
			content:'';
			height:6px;
			border-radius:3px;
			background-color:#3c82f0;
		}
		.btnMenu:before, .btnMenu:after{left:6px;width:60px;}
		.btnMenu:before{top:20px;} 
		.btnMenu:after{top:40px;}

		.btnClose:before, .btnClose:after{top:33px;width:72px;}
		.btnClose:before{transform:rotate(45deg);}
		.btnClose:after{transform: rotate(-45deg);}

	.header span{
		position:absolute;
		left:5px;
		bottom:5px;
		font-size:1em;
		font-weight:bolder;
		color:#235A96;
	}

/*---------- ХЕДЕР САЙТА ----------*/