/*---------- ПАНЕЛЬ НАВИГАЦИИ ----------*/


.navCover{/* ОБВЕРТКА БЛОКА НАВИГАЦИИ */
	position: relative;
	height: 100px;
	width: 100%;
}
	.navPanel{/* БЛОК НАВИГАЦИИ */
		position: relative;
		z-index: 2;
		height: 100px;
		width: 100%;
		background: #F7F9FB;
	}
		.fixPanel{/* ПРИЛИПАНИЕ БЛОКА НАВИГАЦИИ */
			position: fixed;
			top: 0;
		}
		.navItem{/* ОБВЕРТКА РАЗДЕЛА НАВИГАЦИИ */
			position: relative;
			height: 72px;
			width: 25%;
			float: left;
			margin-top: 4px;
			text-align: center;
		}
			.navItem span{/* ПОДПИСЬ РАЗДЕЛА НАВИГАЦИИ */
				color: #99AFBF;
			}
				.navItem.navConfirm span{
					color:#235A96;
				}
				.navItem.navActive span{
					text-decoration: underline;
				}

			.navItem:before{/* РАЗДЕЛ НАВИГАЦИИ */
				display: block;
				height: 72px;
				width: 72px;
				margin: 0px auto;
				content: " ";
				border: 2px solid #99AFBF;
				border-radius: 50%;
			}
				.navConfirm:before{/* ДОСТУПНЫЙ РАЗДЕЛ */
					border-color: #3c82f0;
					cursor: pointer;
				}
				.navActive:before{/* АКТИВНЫЙ РАЗДЕЛ */
							
				}


			/* ЛИНИЯ ПРОГРЕССА ->>> */
			.navItem:after{
				display: block;
				position: absolute;
				top: 37px;
				z-index: -1;
				height: 2px;
				width: 100%;
				margin-left: -50%;
				content: '';
				background-color: #99AFBF;
			}
				.navItem:first-child:after{
					content:none;
				}
				.navConfirm:after{
					background-color: #3c82f0;
				}
			/* <<<- ЛИНИЯ ПРОГРЕССА */


		/* КАТЕГОРИИ ->>> */
		.navCategory:before{
			background: url(../images/icons.png) 0px 0px, #F7F9FB;
			background-size: 100% auto;
		}
		.navCategory.navConfirm:before{
			background: url(../images/icons.png) 0px -78px, #F7F9FB;
			background-size: 100% auto;
		}
		.navCategory.navConfirm.navActive:before{
			background: url(../images/icons.png) 0px -156px, #F7F9FB;
			background-size: 100% auto;
		}
		/* <<<- КАТЕГОРИИ */


		/* ТОВАРЫ ->>> */
		.navCatalog:before{
			background: url(../images/icons.png) 0px -234px, #F7F9FB;
			background-size: 100% auto;
		}
		.navCatalog.navConfirm:before{
			background: url(../images/icons.png) 0px -312px, #F7F9FB;
			background-size: 100% auto;
		}
		.navCatalog.navConfirm.navActive:before{
			background: url(../images/icons.png) 0px -390px, #F7F9FB;
			background-size: 100% auto;
		}
		/* <<<- ТОВАРЫ */


		/* МАГАЗИНЫ ->>> */
		.navShop:before{
			background: url(../images/icons.png) 0px -468px, #F7F9FB;
			background-size: 100% auto;
		}
		.navShop.navConfirm:before{
			background: url(../images/icons.png) 0px -546px, #F7F9FB;
			background-size: 100% auto;
		}
		.navShop.navConfirm.navActive:before{
			background: url(../images/icons.png) 0px -624px, #F7F9FB;
			background-size: 100% auto;
		}
		/* <<<- МАГАЗИНЫ */


		/* ЗАКАЗ ->>> */
		.navOrder:before{
			background: url(../images/icons.png) 0px -702px, #F7F9FB;
			background-size: 100% auto;
		}
		.navOrder.navConfirm:before{
			background: url(../images/icons.png) 0px -780px, #F7F9FB;
			background-size: 100% auto;
		}
		.navOrder.navConfirm.navActive:before{
			background: url(../images/icons.png) 0px -858px, #F7F9FB;
			background-size: 100% auto;
		}
		/* <<<- ЗАКАЗ */


		/* СЧЕТЧИК ->>> */
		.navCounter{
			position: absolute;
			top: -2px;
			left: 50%;
			z-index: 2;
			height: 14px;
			min-width: 14px;
			margin-left: 16px;
			padding: 5px;
			color: #fff;
			font: normal 14px/14px serif;
			border-radius:12px;
			background-color:#FF0000;
		}
		/* <<<- ФИЛЬТР */
		.navSearch{
			position: absolute;
			overflow: hidden;
			top: 12px;
			left: calc(50% - 42px);
			z-index: 2;
			height: 72px;
			width: 72px;
			margin-left: 16px;
			background: url(../images/icons.png) 0px -1872px;
			background-size: 100% auto;
			cursor: pointer;
		}
			.navSearch:hover{
				background: url(../images/icons.png) 0px -1950px;
			background-size: 100% auto;
			}


/*---------- ПАНЕЛЬ НАВИГАЦИИ ----------*/