html,body{margin:0;padding:0}
html{
	overflow:auto;
	min-width:320px;
	color:#555;
	background:url(../images/bg.png);background-color:#E7E7F2;background-attachment:fixed}

	/*>>>>> HEADER */
	.headerCover{
		overflow:hidden;
		height:80px;width:100%}
	.header{
		z-index:20;position:fixed;
		left:0;top:0;
		height:80px;width:100%;
		background:linear-gradient(to top,#7979B7,#4C62CF)}
		.headerLogo{
			position:relative;float:left;
			height:80px;width:240px;
			background:url(../images/logo.png);background-size:100% auto}
			.headerLogo:after{
				display:block;position:absolute;
				right:5px;bottom:0px;
				font:normal 12px/18px sans-serif;text-align:center;color:#fff;
				content:'сервис поиска и заказа зоотоваров'}
	
		.headerItem{
			position:relative;
			height:68px;width:calc(33.3% - 104px);
			float:left;margin:8px 0px 0px 0px;
			font:normal 12px/20px sans-serif;text-align:center;color:#fff;
			border-bottom:4px solid #7979B7;
			opacity:0.8;cursor:pointer}
			.headerItem:hover{opacity:1}
			.headerItem:before{
				display:block;
				height:48px;width:48px;
				margin-left:calc(50% - 24px);
				content:'';
				transform:scale(0.6)}
			.headerItem.active{
				border-color:#E7E7F2;
				background:linear-gradient(to top,#6F6FA8,#5064CC);
				opacity:1}
				.headerItem.active:before{transform:scale(1)}
				.headerItem.navOrders:before{background:url(../images/iShop.png) 0px 0px;background-size:100% auto}
				.headerItem.navOrders:after{content:'Заказы'}
				.headerItem.navPrice:before{background:url(../images/iShop.png) 0px -52px;background-size:100% auto}
				.headerItem.navPrice:after{content:'Цены'}
				.headerItem.navCatalog:before{background:url(../images/iShop.png) 0px -104px;background-size:100% auto}
				.headerItem.navCatalog:after{content:'Товары'}
			.counter{
				display:block;
				position:absolute;
				top:0;right:-36px;
				height:18px;min-width:8px;
				margin-right:50%;padding:0 5px;
				font:normal 14px/18px sans-serif;text-align:center;color:#fff;
				border-radius:9px;
				background:#fb3f4c}
		@media (max-width:560px){ .headerItem{width:calc(33.3% - 24px)} .headerLogo{display:none}}
		.headerMenu{/* button menu */
			position:relative;
			height:70px;width:70px;
			float:right;margin:5px 1px;
			opacity:0.8;cursor:pointer}
			.headerMenu:hover{opacity:1}
			.headerMenu div,.headerMenu div:before,.headerMenu div:after{
				height:4px;width:36px;
				border-radius:2px;
				background:#fff}
			.headerMenu div{margin:33px 17px}
				.headerMenu div:before,.headerMenu div:after{
					display:block;
					position:absolute;
					left:17px;
					content:''}
				.headerMenu div:before{top:23px}
				.headerMenu div:after{top:43px}
	/* HEADER <<<<<*/
	/* >>>>> BUTTON CLOSE */
	.close{
		position:relative;
		float:right;
		opacity:0.7;cursor:pointer}
		.close:hover{opacity:1}
		.close:before,.close:after{
			position:absolute;
			content:''}
			.close:before{transform:rotate(45deg)}
			.close:after{transform:rotate(-45deg)}
	/* BUTTON CLOSE <<<<<*/
	/* >>>>> ALERT */
	.alert{
		z-index:20;
		position:fixed;
		height:auto;width:280px;
		top:40%;left:calc(50% - 150px);padding:10px;
		background:url(../images/bg2.png) #FF8300;
		border-radius:5px;
		font:300 16px/18px sans-serif;color:#000;text-align:justify;
		box-shadow:5px 10px 10px rgba(0,0,0,0.9);
		cursor:pointer}
		.alert:before{
			display:inline-block;
			font:600 36px/36px sans-serif;color:#ff0000;
			margin-right:5px;
			content:'!'}
		.alert:hover{background-color:#FF6A00}
	/* ALERT <<<<<*/
	/* >>>>> RATE */
	.rate{
		position:relative;
		height:14px;width:72px;
		float:right;margin-right:5px;
		background:url(../images/iShop.png) 0px -3432px}
		.rate div{height:100%;background:url(../images/iShop.png) -72px -3432px}
		.rate span{position:absolute;height:14px;top:14px;left:0px;width:72px;font:600 14px/14px sans-serif}
			.rate span:before{content:"оценка ";font:300 10px/14px sans-serif}
			.rate span:after{content:"%"}
	/* RATE <<<<<*/
	/*>>>>> CHECKBOX */
	.checkbox{width: 75px;float:right;margin:3px 0 0 5px}
		.checkbox input{float:left;opacity:0;z-index:-10}
		.checked{position:relative;float:left}
			.checked:before{position:absolute;left:0;height:20px;width:50px;border-radius:10px;content:'';background:#B5B4B7;box-shadow:inset 0 2px 3px rgba(0,0,0,.2);transition:0.25s}
			.checked:after{position:absolute;top:2px;left:2px;width:16px;height:16px;border-radius:50%;content:'';background:#FFF;box-shadow:0 2px 5px rgba(0,0,0,.3);transition:0.25s}
				.checkbox input:checked + .checked:before{background:#4C62CF}
				.checkbox input:checked + .checked:after{left:32px}
	/* CHECKBOX <<<<<*/
	/*>>>>> MAIN MENU */
	.cover{
		z-index:30;position:fixed;
		height:100%;width:100%;
		left:0;top:0;
		overflow:auto;
		background:linear-gradient(to top, #7979B7, #4C62CF)}
		.cover .close{
			height:72px;width:72px;
			margin:4px 1px}
			.cover .close:before,.cover .close:after{
				height:6px;width:72px;
				top:33px;
				border-radius:3px;
				background-color:#fff}
		.menu{
			overflow:hidden;
			height:auto;width:250px;
			margin-top:80px;
			margin-left:calc(50% - 125px)}
			.menu div{
				position:relative;
				float:left;
				margin-bottom:24px;padding-left:100px;
				height:76px;width:150px;
				font:normal 300 18px/36px sans-serif;color:#fff;
				opacity:0.8;
				cursor:pointer}
				.menu div:hover{opacity:1;text-decoration:underline}
				.menu div:hover:before{transform:scale(1)}
					.menu div:before{
						z-index:999;display:inline-block;
						position:absolute;
						top:0px;left:0px;
						height:72px;width:72px;
						content:'';
						border:2px solid #fff;border-radius:50%;
						transform:scale(0.8)}
					.menu div:after{white-space:pre}
					.menu .info:before{background:url(../images/iShop.png) 0px -234px;background-size:100% auto}
					.menu .info:after{content:'ИНФОРМАЦИЯ \A о магазине'}
					.menu .logout:before{background:url(../images/iShop.png) 0px -312px;background-size:100% auto}
					.menu .logout:after{content:'ВЫЙТИ \A из магазина'}
	/* MAIN MENU <<<<<*/
	input[type="text"], input[type="button"], input[type="submit"]{
		-webkit-appearance:none;-moz-appearance:none;appearance:none!important;
		display:block;padding:0;
		color:inherit;
		border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;
		text-align:center;
		cursor:pointer}
	.partBrand{
		position:relative;overflow:hidden;
		height:auto;width:318px;
		margin:10px auto;padding:5px 0}
		@media (min-width:638px){.part,.partBrand{width:636px}}
	.item{
		position:relative;overflow:hidden;
		height:auto;width:310px;
		margin:15px auto 15px auto;padding:5px 0;
		border-radius:5px;
		background:url(../images/bg2.png) #fff;
		transition:1s;
		box-shadow:0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.25)}
		.part .item{margin:5px auto}
		@media (min-width:638px){.item{width:620px}}
		.new{cursor:pointer;background-color:#ff8300}
		.new .orderProduct, .new .orderTotal{display:none}
		.old div,.old span{opacity:0.65}

	/*>>>>> ORDERS */
	.orderContact .time,.orderContact .phone{position:absolute;top:5px;width:145px;color:#354592}
	.orderContact .time{left:0px}
	.orderContact .phone{right:0px}
	.orderContact .delivery{height:auto;width:calc(100% - 290px);margin:0px 145px}
		@media (max-width:620px){.orderContact .delivery{width:100%;margin:65px 0px 0px 0px}}
		.orderContact div span:first-child{display:block}
			.orderContact span:before{display:inline-block;float:left;content:''}
			.orderContact span:first-child:before{
				height:24px;width:24px;
				margin:6px 2px 6px 6px}
		.orderContact div span:last-child{display:table-cell;vertical-align:middle;height:28px;padding-left:12px;font:300 12px/14px sans-serif;color:#7979B7}
			.orderContact span:last-child:before{
				height:12px;width:12px;
				margin:1px 1px 1px 0;
				font-weight:600}
		.orderContact .time span:first-child{overflow:hidden;height:36px;font:600 12px/18px sans-serif}
			.orderContact .time span:first-child:before{background:url(../images/iShop.png) 0px -130px;background-size:100% auto}
			.orderContact .time span:last-child:before{content:'#'}
		.orderContact .delivery span:first-child{overflow:hidden;font:300 12px/18px sans-serif}
			.orderContact .delivery span:first-child:before{background:url(../images/iShop.png) 0px -156px;background-size:100% auto}
			.orderContact .delivery span:last-child{min-height:28px;}
			.orderContact .delivery span:last-child:before{background:url(../images/iShop.png) 0px -104px;background-size:100% auto}
		.orderContact .phone span:first-child{overflow:hidden;height:36px;font:600 12px/36px sans-serif}
			.orderContact .phone span:first-child:before{background:url(../images/iShop.png) 0px -182px;background-size:100% auto}
			.orderContact .phone span:last-child:before{background:url(../images/iShop.png) 0px -117px;background-size:100% auto}
	.orderProduct{overflow:hidden;margin:0 5px 5px 5px;padding-top:5px;border-top:1px dotted #B5B4B7}
		.orderProduct img{display:block;height:48px;width:48px;float:left;margin:0}
		.orderProduct .specifications{overflow:hidden;width:252px;float:left}
			.orderProduct .specifications div:first-child{height:28px;font:300 12px/14px sans-serif;color:#354592}
			.orderProduct .specifications div:first-child span:first-child{font-weight:600}
			.orderProduct .specifications div:first-child span:first-child:before{content:'\201c'}
			.orderProduct .specifications div:first-child span:first-child:after{content:'\201d'}
			.orderProduct .specifications div:last-child span:first-child{font:300 14px/20px sans-serif}
			.orderProduct .specifications div:last-child span:first-child:before{display:inline-block;height:12px;width:12px;float:left;margin:4px 2px 4px 0;content:'';background:url(../images/iShop.png) 0px -130px;background-size:100% auto}
			.orderProduct .specifications div:last-child span:last-child{display:inline-block;margin:1px 5px;padding:0 8px;border:1px solid #354592;border-radius:10px;font:300 12px/16px sans-serif;color:#354592}
		.orderProduct .cost{overflow:hidden;width:300px;float:right;margin:5px 0;color:#354592}
			.orderProduct .cost span{display:inline-block;width:80px;float:left;font:600 14px/18px sans-serif;text-align:center}
				@media (min-width:620px){.orderProduct .cost span{font:600 14px/38px sans-serif}}
				.orderProduct .cost span:before{margin-right:10px;content:'X'}
				.orderProduct .cost span:after{margin-left:2px;font-size:12px;font-weight:300;content:'шт.'}
				.orderProduct .cost span:first-child{width:110px}
				.orderProduct .cost span:first-child:before{content:''}
				.orderProduct .cost span:first-child:after{content:'грн'}
				.orderProduct .cost span:last-child{width:110px}
				.orderProduct .cost span:last-child:before{content:'='}
				.orderProduct .cost span:last-child:after{content:'грн'}
		.orderTotal{position:relative;width:110px;height:36px;float:right;margin:0 5px 5px 5px;padding-top:5px;border-top:1px dotted #B5B4B7;font:600 14px/18px sans-serif;color:#354592;text-align:center}
			.orderTotal:before{position:absolute;display:block;height:36px;width:36px;margin:0 0 0 -40px;content:'';background:url(../images/iShop.png) 0px -429px;background-size:100% auto}
			.orderTotal .old{text-decoration:line-through;color:#B5B4B7}
			.orderTotal span:after{margin-left:2px;font-size:12px;font-weight:300;content:'грн'}
	/* ORDERS <<<<<*/
	/*>>>>> PRICE */
	.price{display:inline-block;margin-left:5px;font:600 14px/26px sans-serif;color:#354592}
		.price:before{content:'Прайс-лист: '}
		.price:after{content:' шт.'; font:300 12px/12px sans-serif}
	.btnCover{
		overflow:hidden;
		height:auto;width:320px;
		margin:10px auto 0 auto;
		color:#354592}
		.btnChoice,.btnLoad,.btnDownload,.btnDelete{height:auto;width:80px;float:left;font:300 12px/12px sans-serif;text-align:center}
			.btnChoice:after{content:'Выбрать'}
			.btnLoad:after{content:'Загрузить'}
			.btnDownload:after{content:'Скачать'}
			.btnDelete:after{content:'Удалить'}

			.btnCover input[type="file"]{opacity:0}

			.btnCover label,.btnCover input[type="button"],.btnCover input[type="submit"]{
				height:72px;width:72px;
				float:left;margin:4px;
				border:none;border-radius:50%;
				box-shadow:0 3px 6px rgba(0,0,0,0.25),0 2px 4px rgba(0,0,0,0.25)}
					.btnChoice label{background:url(../images/iShop.png) 0px -936px #4C62CF;background-size:100% auto}
					.btnLoad input[type="submit"]{background:url(../images/iShop.png) 0px -1014px #4C62CF;background-size:100% auto}
					.btnDownload input[type="button"]{background:url(../images/iShop.png) 0px -1092px #4C62CF;background-size:100% auto}
					.btnDelete input[type="button"]{background:url(../images/iShop.png) 0px -1170px #4C62CF;background-size:100% auto}

						.btnCover label:hover, .btnCover input[type="button"]:hover,.btnCover input[type="submit"]:hover{transform:scale(0.95);background-color:#354592;box-shadow:0 3px 6px rgba(0,0,0,0.5),0 2px 4px rgba(0,0,0,0.5)}

	.table{float:left;margin:5px 5px 0 5px;padding:0 0 5px 0;  border-bottom:1px solid #B5B4B7;cursor:pointer}
		.table:hover{color:#354592;box-shadow: inset 0px 0px 15px rgba(76,98,207,0.1)}
		.table.empty{background:url(../images/bg2.png) #ff8300}
		.table:last-child{border:none}
		.table div{height:36px}
		.table .no{height:36px;width:45px;float:left;font:300 12px/36px sans-serif;text-align:center}
		.table .name{width:310px;float:left;font:300 12px/18px sans-serif}
			.table .name span:first-child{font-weight:600}
				.table .name span:first-child:before{content:'\201c'}
				.table .name span:first-child:after{content:'\201d'}
			.table .name span:last-child{margin:0 5px;padding:0 5px;border:1px solid #354592;border-radius:10px;font:300 12px/16px sans-serif}

		.table .details{float:right;font:300 12px/18px sans-serif}
			.table .details span{display:block;height: 18px;width:64px;margin:9px 0;float:left;text-align:center;border-left:1px solid #B5B4B7;}
				.table .details span:after{margin-left:3px;content:'шт.';font-size:10px;}
				.table .details span:first-child{width:109px}
					.table .details span:first-child:after{content:''}
				.table .details span:last-child{width:74px;text-align:right;padding-right:5px}
					.table .details span:last-child:after{content:'грн'}
	@media (max-width:638px){.table .no{height:60px;font:300 12px/60px sans-serif} .table .name{width:255px} .table .details{height:24px} .table .details span{margin:3px 0}}

	.priceEdit{
		z-index:20;
		position:fixed;
		height:auto;width:300px;
		top:40%;left:50%;margin-left:-155px;padding:5px;
		background:url(../images/bg2.png)#fff;
		border-radius:5px;
		font:300 16px/18px sans-serif;color:#000;text-align:justify;
		box-shadow:0 14px 28px rgba(0,0,0,0.25),0 0 10px rgba(0,0,0,0.35)}
		.priceEdit .delete{height:36px;width:auto;margin:2px 7px;float:left;font:300 12px/36px sans-serif}
		.priceEdit .delete:before{content:'удалить товар';text-decoration:underline;cursor:pointer}
			.priceEdit .delete:hover:before{color:#ff0000}

		.priceEdit .close{height:36px;width:36px;margin:2px}
			.priceEdit .close:before,.priceEdit .close:after{height:3px;width:36px;top:16px;border-radius:2px;background-color:#354592}

		.priceEdit img{display:block;height:48px;width:48px;float:left;margin:0;clear:left;}
		.priceEdit .specifications{overflow:hidden;width:252px;float:left}
			.priceEdit .specifications div:first-child{height:28px;font:300 12px/14px sans-serif;color:#354592}
			.priceEdit .specifications div:first-child span:first-child{font-weight:600}
			.priceEdit .specifications div:first-child span:first-child:before{content:'\201c'}
			.priceEdit .specifications div:first-child span:first-child:after{content:'\201d'}
			.priceEdit .specifications div:last-child span:first-child{font:300 14px/20px sans-serif}
			.priceEdit .specifications div:last-child span:first-child:before{display:inline-block;height:12px;width:12px;float:left; margin:4px 2px 4px 0;content:'';background:url(../images/iShop.png) 0px -130px;background-size:100% auto}
			.priceEdit .specifications div:last-child span:last-child{display:inline-block;margin:1px 5px;padding:0 8px;border:1px solid #354592;border-radius:10px;font:300 12px/16px sans-serif;color:#354592}

		.priceEdit input{margin:10px 5px;}
		.priceEdit input[type="text"]{height:32px;width:75px;float:left;border:2px solid #B5B4B7}

		.priceEdit input[type="submit"]{
			height:38px;
			float:right;padding:0 15px;
			border:none;border-radius:5px;
			color:#fff;
			background:#4C62CF;
			box-shadow:0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.25)}
			.priceEdit input[type="submit"]:hover{background-color:#354592;box-shadow:0 7px 14px rgba(0,0,0,0.5),0 5px 5px rgba(0,0,0,0.5);transform:scale(0.95)}
	/* PRICE <<<<<*/

	/*>>>>> CATALOG */
	.brand img {display:inline-block;height:69px;width:96px;float:left;margin:5px;border-radius:5px;cursor:pointer;background:url(../images/bg2.png) #fff;box-shadow:0 7px 14px rgba(0,0,0,0.25),0 5px 5px rgba(0,0,0,0.25)}
		.brand img:hover{box-shadow:0 7px 14px rgba(0,0,0,0.5),0 5px 5px rgba(0,0,0,0.5);transform:scale(0.95)}

	.catalogProduct{overflow:hidden;float:left}
		.catalogProduct img{height:72px;width:72px;float:left;margin:0 0 0 5px}
		.catalogProduct .name{height:72px;width:223px;float:left;margin:0 5px 0 5px;padding:0;font:300 14px/18px sans-serif;color:#354592}
		.catalogProduct .name span:first-child{font-weight:600}
			.catalogProduct .name span:first-child:before{content:'\201c'}
			.catalogProduct .name span:first-child:after{content:'\201d'}

	.catalogUPC{height:26px;width:300px;float:right;margin:5px 5px 0 5px;padding:0 0 5px 0;clear:right;border-bottom:1px dotted #B5B4B7}
		.catalogUPC:first-child{border:none}
		.catalogUPC:last-child{border:none}
			.catalogUPC span{float:left}
			.catalogUPC span:first-child{border:none;margin:0;padding:0;font:300 12px/26px sans-serif}
			.catalogUPC span:first-child:before{display:inline-block;height:12px;width:12px;float:left;margin:7px 5px 7px 0;content:'';background:url(../images/iShop.png) 0px -130px;background-size:100% auto}
			.catalogUPC span{display:inline-block;margin:4px 5px;padding:0 8px;border:1px solid #354592;border-radius:10px;font:300 12px/16px sans-serif;color:#354592}
	/* CATALOG <<<<<*/

	/*>>>>> SHOPS */
	.shopName{display:block;float:left;margin-left:5px;font:600 14px/28px sans-serif}
		.shopName sup{display:inline-block;margin-left:2px;padding:0 6px;font:600 10px/16px sans-serif;color:#fff;border-radius:8px;background:#354592}
			.shopName sup:before{content:'id '}
	.shopAddress{display:block;float:left;font:300 12px/14px sans-serif}
		.shopAddress:before{
			display:inline-block;
			float:left;
			height:24px;width:24px;
			margin:2px 16px;
			content:'';
			background:url(../images/iShop.png) 0px -156px;background-size:100% auto}
	.shopDelivery,.shopDiscount{
		height:auto;width:300px;
		float:left;margin:0px 5px;
		border-bottom:1px solid #B5B4B7}
		.shopDelivery:last-child,.shopDiscount:last-child{border:none}
		.shopDelivery:before{
			height:36px;width:36px;
			float:left;margin:5px;
			content:''}
			.shopDelivery.pickup:before{background:url(../images/iShop.png) 0px -624px;background-size:100% auto}
			.shopDelivery.express:before{background:url(../images/iShop.png) 0px -663px;background-size:100% auto}
			.shopDelivery.today:before{background:url(../images/iShop.png) 0px -702px;background-size:100% auto}
			.shopDelivery.tomorrow:before{background:url(../images/iShop.png) 0px -741px;background-size:100% auto}
			.shopDelivery.post:before{background:url(../images/iShop.png) 0px -780px;background-size:100% auto}
		.shopDelivery .first{
			display:block;
			float:right;
			height:auto;width: calc(100% - 46px);
			font:600 14px/18px sans-serif;color:#354592}
			.shopDelivery.pickup .first:after{content:'Самовывоз из магазина'}
			.shopDelivery.express .first:after{content:'Экспресс доставка'}
			.shopDelivery.today .first:after{content:'Доставка сегодня'}
			.shopDelivery.tomorrow .first:after{content:'Доставка на завтра'}
			.shopDelivery.post .first:after{content:'Пересылка по Украине'}

		.shopDelivery .second{
			display:block;
			float:right;
			height:auto;width: calc(100% - 46px);
			font:300 12px/14px sans-serif}
			.second span:first-child:before{content:''}
			.second span:before{font-weight:bolder;color:#000;content:' | '}
			.second span:first-child:after{content:''}
			.second span:after{font-size:10px;content:'грн'}

		.shopDiscount:before{
			height:36px;width:36px;
			float:left;margin:5px;
			content:'';
			background:url(../images/iShop.png) 0px -819px;background-size:100% auto}
		.shopDiscount span:first-child{
			display:block;
			float:right;
			height:auto;width: calc(100% - 46px);
			font:600 14px/28px sans-serif;color:#354592}
				.shopDiscount span:first-child:before{content:'Скидка магазина '}
				.shopDiscount span:first-child:after{content:'%'}
		.shopDiscount span:last-child{
			display:block;
			float:right;
			height:auto;width: calc(100% - 46px);
			font:300 12px/18px sans-serif}
				.shopDiscount span:last-child:before{content:'при заказе от '}
				.shopDiscount span:last-child:after{font-size:10px;content:'грн'}
	/* SHOPS <<<<<*/
























	
	
	


	





		

			




		
	