html,body{margin:0;padding:0}
html{
	overflow:auto;
	min-width:320px;
	color:#333;
	background:url(../images/sysimg/bg.png);background-color:#E7E7F2;background-attachment:fixed}
h1{
	clear:both;
	margin:0;padding:24px 0 12px 0;
	font:600 18px/18px sans-serif;color:#354592;text-align:center}
h2{
	margin:0;padding:12px 6px 12px 6px;
	font:600 16px/18px sans-serif;color:#354592}
input[type="text"],input[type="password"],input[type="button"],input[type="submit"]{
	-webkit-appearance:none;-moz-appearance:none;appearance:none!important;
	height:38px;
	margin:0;
	text-align:center;
	cursor:pointer}
input[type="text"],input[type="password"]{
	display:inline-block;padding:0;
	color:inherit;
	border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;
	border:2px solid #B5B4B7}
input[type="text"]:hover,input[type="password"]:hover{border-color:#354592}
input[type="button"],input[type="submit"]{
	display:block;
	font:normal 12px/38px 'Arial';color:#fff;
	float:right;margin:5px;padding:0 15px;
	border:none;border-radius:5px;
	background:#4C62CF;
	box-shadow:0 3px 6px rgba(0,0,0,0.25),0 5px 5px rgba(0,0,0,0.25)}
input[type="button"]:hover,input[type="submit"]:hover{background:#354592;box-shadow:0 3px 6px rgba(0,0,0,0.5),0 5px 5px rgba(0,0,0,0.5)}
select{
	height:38px;
	-webkit-appearance:none;box-shadow:none;
	-moz-appearance:none;text-indent:0.01px;text-overflow:'';
	-ms-appearance:none;
	appearance:none!important;
	padding:0 5px;
	font:normal 16px/38px sans-serif;color:#354592;text-decoration:underline;
	border:none;
	background:url(../images/sysimg/bg2.png) #fff;
	cursor:pointer}
textarea{
	display:block;
	font:normal 14px/16px 'Arial';color:inherit;
	border-radius:5px;border:2px solid #B5B4B7;
	resize:none}
textarea:hover{border-color:#354592}

/*>>>>> HEADER */
.headerCover{
	overflow:hidden;
	height:80px;width:100%}
.header{
	z-index:20;position:fixed;
	left:0;top:0;
	height:80px;width:100%;
	background:linear-gradient(to top,#7979B7,#3545B0)}
.headerLogo{
	position:relative;float:left;
	height:80px;width:240px;
	background:url(../images/sysimg/logo.png);background-size:100% auto}
.headerLogo:after{
	display:block;position:absolute;
	right:5px;bottom:0px;
	font:normal 12px/18px sans-serif;text-align:center;color:#fff;
	content:'сервис поиска и заказа зоотоваров'}

.headerItem{
	position:relative;
	height:68px;width:calc(33.3% - 104px);
	float:left;margin:8px 0px 0px 0px;
	font:normal 12px/20px sans-serif;text-align:center;color:#fff;
	border-bottom:4px solid #7979B7;
	opacity:0.8;cursor:pointer}
.headerItem:hover{opacity:1}
.headerItem:before{
	display:block;
	height:48px;width:48px;
	margin-left:calc(50% - 24px);
	content:'';
	transform:scale(0.6)}
.headerItem.active{
	border-color:#E7E7F2;
	background:linear-gradient(to top,#6F6FA8,#3C4BB1);
	opacity:1}
.headerItem.active:before{transform:scale(1)}

.headerItem.navCategory:before{background:url(../images/sysimg/iBuyer.png) 0px 0px;background-size:100% auto}
.headerItem.navCategory:after{content:'Категории'}
.headerItem.navGoods:before{background:url(../images/sysimg/iBuyer.png) 0px -52px;background-size:100% auto}
.headerItem.navGoods:after{content:'Зоотовары'}
.headerItem.navShops:before{background:url(../images/sysimg/iBuyer.png) 0px -104px;background-size:100% auto}
.headerItem.navShops:after{content:'Магазины'}

.counter{
	display:block;
	position:absolute;
	top:0;right:-36px;
	height:18px;min-width:8px;
	margin-right:50%;padding:0 5px;
	font:normal 14px/18px sans-serif;text-align:center;color:#fff;
	border-radius:9px;
	background:#fb3f4c}

.navFilter{
	z-index:10;position:absolute;overflow:hidden;
	height:72px;width:72px;
	top:0;left:calc(50% - 39px);margin-left:16px;
	background:url(../images/sysimg/iBuyer.png) 0px -780px;background-size:100% auto;
	cursor:pointer;
	transition:1s}
.navFilter:hover{transform:rotate(360deg)}

@media (max-width:560px){ .headerItem{width:calc(33.3% - 24px)} .headerLogo{display:none}}
.headerMenu{/* button menu */
	position:relative;
	height:70px;width:70px;
	float:right;margin:5px 1px;
	opacity:0.8;cursor:pointer}
.headerMenu:hover{opacity:1}
.headerMenu div,.headerMenu div:before,.headerMenu div:after{
	height:4px;width:36px;
	border-radius:2px;
	background:#fff}
.headerMenu div{margin:33px 17px}
.headerMenu div:before,.headerMenu div:after{
	display:block;
	position:absolute;
	left:17px;
	content:''}
.headerMenu div:before{top:23px}
.headerMenu div:after{top:43px}
/* HEADER <<<<<*/

/* >>>>> BUTTON CLOSE */
.close{
	position:relative;
	float:right;
	opacity:0.7;cursor:pointer}
.close:hover{opacity:1}
.close:before,.close:after{
	position:absolute;
	content:''}
.close:before{transform:rotate(45deg)}
.close:after{transform:rotate(-45deg)}
/* BUTTON CLOSE <<<<<*/

/*>>>>> MODAL */
.modal{
	z-index:30;position:fixed;
	height:100%;width:100%;
	left:0;top:0;
	overflow:auto}
.modal:before{display:block;float:left;font:600 32px/80px sans-serif;color:#fff}

.modal .close{height:72px;width:72px;margin:4px}
.modal .close:before,.modal .close:after{
	height:6px;width:72px;
	top:33px;
	border-radius:3px;
	background-color:#fff}

/*>>> menu */
.modal.menu{background:linear-gradient(to top,#7979B7,#3545B0)}
.modal.menu .item{
	overflow:hidden;
	height:auto;width:252px;
	margin-top:10%;margin-left:calc(50% - 125px);
	clear:both}
.modal.menu .item div{
	position:relative;
	float:left;
	margin-bottom:24px;padding-left:100px;
	height:76px;width:150px;
	font:normal 300 18px/36px sans-serif;color:#fff;
	opacity:0.8;
	cursor:pointer}
.modal.menu .item div:hover{opacity:1;text-decoration:underline}
.modal.menu .item div:hover:before{transform:scale(1)}
.modal.menu .item div:before{
	z-index:999;display:inline-block;
	position:absolute;
	top:0px;left:0px;
	height:72px;width:72px;
	content:'';
	border:2px solid #fff;border-radius:50%;
	transform:scale(0.8)}
.modal.menu .item div:after{white-space:pre}
.modal.menu .item .login:before{background:url(../images/sysimg/iBuyer.png) 0px -234px;background-size:100% auto}
.modal.menu .item .login:after{content:'ВХОД \A в кабинет'}
.modal.menu .item .register:before{background:url(../images/sysimg/iBuyer.png) 0px -312px;background-size:100% auto}
.modal.menu .item .register:after{content:'РЕГИСТРАЦИЯ \A на сайте'}
.modal.menu .item .about:before{background:url(../images/sysimg/iBuyer.png) 0px -390px;background-size:100% auto}
.modal.menu .item .about:after{content:'О ПРОЕКТЕ \A zooskop.com'}
.modal.menu .social{
	display:block;float: left;
	height:72px;width:72px;
	margin:4px;
	border:2px solid #fff;border-radius:18px;
	transform:scale(0.8)}
.modal.menu .social:hover{transform:scale(1)}
.fb{background:url(../images/sysimg/iBuyer.png) 0px -468px;background-size:100% auto}
.in{background:url(../images/sysimg/iBuyer.png) 0px -546px;background-size:100% auto}
.vb{background:url(../images/sysimg/iBuyer.png) 0px -624px;background-size:100% auto}

/*>>> filter */
.modal.filter{background:linear-gradient(to top right,rgba(0,0,0,0.75),rgba(125,125,125,1))}
.modal.filter:before{margin-left:calc(12.5% - 8px);content:'ФИЛЬТР'}
.modal.filter .item{
	clear:both;overflow:hidden;
	width:75%;min-width:300px;
	margin:8px auto;padding:8px;
	font:300 12px/32px sans-serif;color:#354592;text-align:justify;
	border-radius:15px;
	background:url(../images/bg2.png) #fff;box-shadow:0 3px 6px rgba(0,0,0,0.5),0 5px 5px rgba(0,0,0,0.5)}
.modal.filter .item span:first-child{font-size:16px}

/*>>> order */
.modal.order{background:linear-gradient(to top right,rgba(0,0,0,0.75),rgba(125,125,125,1))}
.modal.order .close{height:36px;width:36px;margin:0}
.modal.order .close:before,.modal.order .close:after{height:3px;width:36px;top:16px;border-radius:2px;background-color:#354592}
.modal.order .item{
	clear:both;overflow:hidden;
	width:300px;
	margin:10% auto 0 auto;padding:8px 8px;
	border-radius:15px;
	background:url(../images/bg2.png) #fff;
	box-shadow:0 3px 6px rgba(0,0,0,0.5),0 5px 5px rgba(0,0,0,0.5)}
.modal.order input[type="text"]{width:296px;float:left;margin-top:8px}
.modal.order input[type="button"]{margin:8px 0 0 0}
.modal.order label{
	display:block;
	width:100%;
	float:left;margin-bottom:8px;padding-bottom:8px;
	border-bottom:1px dotted #B5B4B7}
.modal.order textarea{height:112px;width:288px;float:left;margin-top:8px;padding:4px}
.modal.order span{float:left;font:300 16px/18px sans-serif;color:#354592;opacity:0.5}
.shop .type:before{content:'Самовывоз с магазина'}
.express .type:before{content:'Экспресс доставка'}
.today .type:before{content:'Доставка сегодня'}
.tomorrow .type:before{content:'Доставка на завтра'}
.country .type:before{content:'Пересылка по Украине'}
.modal.order .price{float:right}
.modal.order .min{font-size:12px;color:#fb3f4c}
.modal.order .free{font-size:12px;color:green}
.modal.order .min:before{content:'минимальный заказ '}
.modal.order .free:before{content:'доставка бесплатно от '}

.modal.order .price:after,.modal.order .min:after,.modal.order .free:after{font-size:90%;content:' грн'}
.modal.order input[type="radio"]{display:none}
.modal.order label .nRadio{
	display:inline-block;position:relative;
	width:14px;height:14px;
	float:left;margin:1px 8px 1px 1px;
	border:1px solid #354592}
.modal.order input:checked ~ span{opacity:1}
.modal.order input:checked + .nRadio:before{
	display:block;position:absolute;
	top:2px;right:2px;bottom:2px;left:2px;
	content:'';
	background:#354592}
.nRadio,.nRadio:before{border-radius:50%}
/* MODAL <<<<<*/

/* >>>>> RATE */
.rate{
	position:relative;
	height:14px;width:72px;
	float:right;
	background:url(../images/sysimg/iBuyer.png) 0px -3120px}
.rate div{height:100%;background:url(../images/sysimg/iBuyer.png) -72px -3120px}
.rate span{position:absolute;height:14px;top:14px;left:0px;width:72px;font:600 14px/14px sans-serif}
.rate span:before{content:"рейтинг ";font:300 10px/14px sans-serif}
.rate span:after{content:"%"}
/* RATE <<<<<*/

/*>>>>> CATEGORY */
.leftCategory,.rightBrand{
	position:relative;overflow:hidden;
	height:auto;width:auto;
	padding:10px;
	text-align:justify}
.leftCategory{font:300 14px/36px sans-serif;color:#354592}
@media (min-width:638px){.leftCategory{width:50%;float:left}}
.leftCategory h1:before{content:'Товары '}
.rightBrand h1:before{content:'Все производители '}
.checkCategory span,.checkBrand span{
	border-radius:13px;
	background:#fff;
	box-shadow:0 3px 6px rgba(0,0,0,0.25),0 5px 5px rgba(0,0,0,0.25)}
.checkCategory span{padding:6px 12px}
.checkBrand span{opacity:0.5;display:inline-block;height:69px;width:96px;margin:6px 2px;border:2px solid #fff}
.checkCategory span:hover,.checkBrand span:hover{box-shadow:0 3px 6px rgba(0,0,0,0.5),0 5px 5px rgba(0,0,0,0.5)}
.checkCategory input,.checkBrand input{float:left;margin-left:-20px;opacity:0;z-index:-10}
.checkCategory input:checked ~ span{color:#fff;background:rgba(53,79,176,1);box-shadow:0 3px 6px rgba(0,0,0,0.5),0 5px 5px rgba(0,0,0,0.5) }
.checkBrand input:checked ~ span{opacity:1;border-color:rgba(53,79,176,1);box-shadow:0 3px 6px rgba(0,0,0,0.75),0 5px 5px rgba(0,0,0,0.75)}
/* CATEGORY <<<<<*/

.geoSearch{
	display:block;
	width:300px;height:36px;
	margin:18px auto;padding:5px;
	border-radius:23px;
	font:300 16px/36px sans-serif;text-align:center;color:#fff;
	background:#4C62CF;box-shadow:0 3px 6px rgba(0,0,0,0.25),0 5px 5px rgba(0,0,0,0.25);
	cursor:pointer}
.geoSearch:hover{background:#354592;box-shadow:0 3px 6px rgba(0,0,0,0.5),0 5px 5px rgba(0,0,0,0.5)}
.geoSearch:before{height:36px;width:36px;float:left;margin-left:5px;content:'';background:url(../images/sysimg/iBuyer.png) 0px -351px;background-size:100% auto;transition:1s}
.geoSearch:hover:before{transform:rotate(360deg)}
.geoSearch:after{content:'искать ближайшие магазины'}

.cell{
	height:auto;
	width:12.5%;
	float:left}
@media (max-width:2620px) {.cell{width:14.28%}}
@media (max-width:2300px) {.cell{width:16.66%}}
@media (max-width:1980px) {.cell{width:20%}}
@media (max-width:1640px) {.cell{width:25%}}
@media (max-width:1300px) {.cell{width:33.33%}}
@media (max-width:980px) {.cell{width:50%}}
@media (max-width:660px) {.cell{width:100%}}

.goods,.offer{
	height:auto;width:300px;
	margin:5px auto;padding:8px;
	overflow:hidden;
	border-radius:12px;
	background:url(../images/bg2.png) #fff;
	box-shadow:0 3px 6px rgba(0,0,0,0.25),0 5px 5px rgba(0,0,0,0.25)}
.goods:hover,.offer:hover{box-shadow:0 3px 6px rgba(0,0,0,0.75),0 5px 5px rgba(0,0,0,0.75)}
.goods div{
	overflow:hidden;
	height:300px;width:300px;
	font:300 14px/18px sans-serif;text-align:justify}
.goods div:first-child{
	display:table-cell;vertical-align:middle;
	height:44px;width:300px;
	clear:both;
	font:300 16px/22px sans-serif;color:#354592;text-align:justify}
.goods div:first-child span:first-child{font-weight:600}
.goods div:first-child span:first-child:before{content:'\201c'}
.goods div:first-child span:first-child:after{content:'\201d'}

.goods div img{height:300px;width:300px;float:left;cursor:pointer;transition:1s}
.goods div img.min{height:108px;width:108px}
.goods input[type="button"],.goods input[type="submit"]{float:right;margin:0}

.time{
	height:28px;width:auto;
	float:left;
	font:300 14px/28px sans-serif;color:#354592}
.time:before{
	height:24px;width:24px;
	float:left;margin:2px 5px 2px 2px;
	content:'';
	background:url(../images/sysimg/iBuyer.png) 0px -286px;background-size:100% auto}
.time span:first-child:before{content:'cегодня: с '}
.time span:first-child:after{content:' до '}
.time sup{text-decoration:underline}
.shopAddress{
	width:100%;
	float:left;
	font:600 12px/16px sans-serif;color:#354592}
.shopAddress:before{height:24px;width:24px;
	float:left;margin:4px 5px 4px 2px;
	content:''}
.shopAddress.near:before{background:url(../images/sysimg/iBuyer.png) 0px -312px;background-size:100% auto}
.shopAddress.near span:before{content:'рядом с Вами: '}
.shopAddress.near span:after{content:' метров'}
.shopAddress.city:before{background:url(../images/sysimg/iBuyer.png) 0px -338px;background-size:100% auto}
.shopAddress.city span:before{content:'в Вашем городе: '}
.shopAddress.country:before{background:url(../images/sysimg/iBuyer.png) 0px -364px;background-size:100% auto}
.shopAddress.country span:before{content:'Украина, '}

.shopAddress span{display:table-cell;vertical-align:middle;height:32px}

.offer .product{overflow:hidden;float:left;margin-bottom:5px;padding-top:5px;border-top:1px dotted #B5B4B7}
.offer .product img{display:block;height:48px;width:48px;float:left;margin:0}
.offer .product .specifications{overflow:hidden;width:247px;float:left;margin-left:5px;}
.offer .product .specifications div:first-child{display:table-cell;vertical-align:middle;height:28px;font:300 12px/14px sans-serif;color:#354592}
.offer .product .specifications div:first-child span:first-child{font-weight:600}
.offer .product .specifications div:first-child span:first-child:before{content:'\201c'}
.offer .product .specifications div:first-child span:first-child:after{content:'\201d'}
.offer .product .specifications div:last-child span:first-child{font:300 14px/20px sans-serif}
.offer .product .specifications div:last-child span:first-child:before{display:inline-block;height:12px;width:12px;float:left;margin:4px 2px 4px 0;content:'';background:url(../images/sysimg/iBuyer.png) 0px -195px;background-size:100% auto}
.offer .product .specifications div:last-child span:last-child{display:inline-block;margin:1px 5px;padding:0 8px;border:1px solid #354592;border-radius:10px;font:300 12px/16px sans-serif;color:#354592}
.offer .product .cost{
	height:auto;width:100%;
	float:left; padding:4px 0;
	font:600 14px/24px sans-serif;text-align:center}
.offer .product .cost span{display:block;height:24px;width:36px;float:left}
.offer .product .cost span:after{font-size:10px;content:' шт.'}
.offer .product .cost span:first-child,.offer .product .cost span:last-child{width:100px;box-shadow:none}
.offer .product .cost span:first-child:after,.offer .product .cost span:last-child:after{content:' грн'}
.offer .product .cost div{position:relative;float:left;height:24px;width:24px;margin:0 4px}
.offer .product .cost div:before,.offer .product .cost div:after{position:absolute;top:9px;left:0;height:6px;width:24px;border-radius:2px;background:#354592;content:''}
.offer .product .cost div.plus:after{transform:rotate(90deg)}
.offer .product .cost div:hover{transform:scale(1.25)}
.offer .product.zero{opacity:0.5}
.offer .product.zero .cost{opacity:0}
.total{position:relative;width:100px;height:36px;float:right;padding-top:5px;text-align:center;border-top:1px dotted #B5B4B7}
.total:before{position:absolute;display:block;height:36px;width:36px;margin:0 0 0 -40px;content:'';background:url(../images/sysimg/iBuyer.png) 0px -624px;background-size:100% auto}
.total span{font:600 14px/18px sans-serif;color:#B5B4B7;text-decoration:line-through}
.total span:last-child{color:#354592;text-decoration:none}
.total span:after{margin-left:2px;font-size:12px;font-weight:300;content:'грн'}
.offer input[type="button"],.offer input[type="submit"]{float:left;margin:5px 0 0 0}

.form,.content{
	position:relative;overflow:hidden;
	height:auto;width:316px;
	margin:0 auto 0 auto;
	font:300 14px/21px sans-serif;text-align:justify}
.form{margin-top:10%}
@media (min-width:638px){.form,.content{width:632px}}
.form:before{display:block;clear:both;font:600 18px/18px sans-serif;color:#354592;text-align:center}
.form.register:before{content:'РЕГИСТРАЦИЯ'}
.form.login:before{content:'ВХОД'}
.form.confirm:before{content:'ЗАКАЗ ОТПРАВЛЕН!'}
.form.feedback:before{content:'ОСТАВИТЬ ОТЗЫВ'}
.form input[type="text"],.form input[type="password"]{width:296px;float:left;margin:8px}
.form span{display:block;margin:8px;clear:both}
.form.register span{height:42px;width:300px;float:left;clear:none}
.form.register span:before{content:'Регистрируясь на сайте Вы принимаете '}
.form.register span:after{content:' сервиса ZOOSKOP'}
.form.login span:before{content:'Вход для зарегистрированных Продавцов зоотоваров. '}
.form.login span:after{content:' и зарабатывайте больше уже сегодня!'}
.form.confirm span{text-align:center}
.form.confirm span:before{content:'Продавец свяжется с Вами в ближайшие нескольких минут. Для уточнения заказа: '}
.form.confirm span:after{content:' (телефон Продавца).'}
.form.feedback span:before{content:'Напишите отзыв о магазине к Вашему заказу '}
.form.feedback span:after{content:' и поставьте оценку. Ваш отзыв поможет сделать сервис лучше!'}
.form textarea{height:112px;width:288px;float:left;margin:8px;padding:4px}
.form.feedback input[type="submit"]{
	height:48px;width:48px;
	float:right;margin:16px 16px 16px 0;
	border:none;border-radius:50%;
	box-shadow:0 3px 6px rgba(0,0,0,0.25),0 2px 4px rgba(0,0,0,0.25)}
@media (min-width:638px){.form textarea{width:604px} .form.feedback input[type="submit"]}
.form.feedback input[type="submit"]:hover{transform:scale(1.25);box-shadow:0 3px 6px rgba(0,0,0,0.5),0 2px 4px rgba(0,0,0,0.5)}
input[type="submit"].perfect{background:url(../images/sysimg/iBuyer.png) 0px -988px;background-size:100% auto}
input[type="submit"].good{background:url(../images/sysimg/iBuyer.png) 0px -936px;background-size:100% auto}
input[type="submit"].bad{background:url(../images/sysimg/iBuyer.png) 0px -884px;background-size:100% auto}