html,body{margin:0;padding:0}
html{
	overflow:auto;
	min-width:320px;
	color:#555;
	background:url(../images/bg.png);background-color:#E7E7F2;background-attachment:fixed}

	/*>>>>> HEADER */
	.headerCover{
		overflow:hidden;
		height:80px;width:100%}
	.header{
		z-index:20;
		position:fixed;
		left:0;top:0;
		height:80px;width:100%;
		background:linear-gradient(to top,#7979B7,#4C62CF)}
		.headerLogo{
			position:relative;float:left;
			height:80px;width:240px;
			background:url(../images/logo.png);background-size:100% auto}
			.headerLogo:after{
				display:block;position:absolute;
				right:5px;bottom:0px;
				font:normal 12px/18px sans-serif;text-align:center;color:#fff;
				content:'сервис поиска и заказа зоотоваров'}
		.headerItem{
			height:68px;width:calc(33.3% - 104px);
			float:left;margin:8px 0px 0px 0px;
			font:normal 12px/20px sans-serif;text-align:center;color:#fff;
			border-bottom:4px solid #7979B7;
			opacity:0.8;cursor:pointer}
			.headerItem:hover{opacity:1}
			.headerItem:before{
				display:block;
				height:48px;width:48px;
				margin-left:calc(50% - 24px);
				content:'';
				transform:scale(0.6)}
			.headerItem.active{
				border-color:#E7E7F2;
				background:linear-gradient(to top,#6F6FA8,#5064CC);
				opacity:1}
				.headerItem.active:before{transform:scale(1)}
				.headerItem.navOrders:before{background:url(../images/iUser.png) 0px 0px;background-size:100% auto}
				.headerItem.navOrders:after{content:'Заказы'}
				.headerItem.navShops:before{background:url(../images/iUser.png) 0px -52px;background-size:100% auto}
				.headerItem.navShops:after{content:'Магазины'}
				.headerItem.navFeedbacks:before{background:url(../images/iUser.png) 0px -104px;background-size:100% auto}
				.headerItem.navFeedbacks:after{content:'Отзывы'}
		@media (max-width:560px){ .headerItem{width:calc(33.3% - 24px)} .headerLogo{display:none}}

		.headerMenu{/* button menu */
			position:relative;
			height:70px;width:70px;
			float:right;margin:5px 1px;
			opacity:0.8;cursor:pointer}
			.headerMenu:hover{opacity:1}
			.headerMenu div,.headerMenu div:before,.headerMenu div:after{
				height:4px;width:36px;
				border-radius:2px;
				background:#fff}
			.headerMenu div{margin:33px 17px}
				.headerMenu div:before,.headerMenu div:after{
					display:block;
					position:absolute;
					left:17px;
					content:''}
				.headerMenu div:before{top:23px}
				.headerMenu div:after{top:43px}
	/* HEADER <<<<<*/

	/*>>>>> MAIN MENU */
	.cover{
		z-index:30;position:fixed;
		height:100%;width:100%;
		left:0;top:0;
		overflow:auto;
		background:linear-gradient(to top, #7979B7, #4C62CF)}

		.btnClose{/* button close */
			position:relative;
			float:right;margin:4px 1px;
			height:72px;width:72px;
			opacity:0.7;cursor:pointer}
			.btnClose:hover{opacity:1}
			.btnClose:before,.btnClose:after{
				position:absolute;
				top:33px;
				height:6px;width:72px;
				content:'';
				border-radius:3px;
				background-color:#fff}
				.btnClose:before{transform:rotate(45deg)}
				.btnClose:after{transform:rotate(-45deg)}

		.menu{
			overflow:hidden;
			height:auto;width:250px;
			margin-top:80px;
			margin-left:calc(50% - 125px)}
			.menu div{
				position:relative;
				float:left;
				margin-bottom:24px;padding-left:100px;
				height:76px;width:150px;
				font:normal 300 18px/36px sans-serif;color:#fff;
				opacity:0.8;
				cursor:pointer}
				.menu div:hover{opacity:1;text-decoration:underline}
				.menu div:hover:before{transform:scale(1)}
					.menu div:before{
						z-index:999;display:inline-block;
						position:absolute;
						top:0px;left:0px;
						height:72px;width:72px;
						content:'';
						border:2px solid #fff;border-radius:50%;
						transform:scale(0.8)}
					.menu div:after{white-space:pre}
					.menu .addshop:before{background:url(../images/iUser.png) 0px -624px;background-size:100% auto}
					.menu .addshop:after{content:'ДОБАВИТЬ \A магазин'}
					.menu .balance:before{background:url(../images/iUser.png) 0px -702px;background-size:100% auto}
					.menu .balance:after{content:'ПОПОЛНИТЬ \A баланс'}
					.menu .settings:before{background:url(../images/iUser.png) 0px -780px;background-size:100% auto}
					.menu .settings:after{content:'ИЗМЕНИТЬ \A настройки'}
					.menu .logout:before{background:url(../images/iUser.png) 0px -858px;background-size:100% auto}
					.menu .logout:after{content:'ВЫЙТИ \A из кабинета'}
	/* MAIN MENU <<<<<*/

	/* >>>>> RATE */
	.rate{
		position:relative;
		height:14px;width:72px;
		float:right;margin-right:5px;
		background:url(../images/iUser.png) 0px -3120px}
		.rate{cursor:pointer}
		.rate div{height:100%;background:url(../images/iUser.png) -72px -3120px}
		.rate span{position:absolute;height:14px;top:14px;left:0px;width:72px;font:600 14px/14px sans-serif}
			.rate span:before{content:"оценка ";font:300 10px/14px sans-serif}
			.rate span:after{content:"%"}
	/* RATE <<<<<*/
	h1{
		display:block;
		height:auto;width:290px;
		margin:15px auto 0 auto;
		font:600 18px/16px sans-serif;color:#354592;text-align:center;
		text-shadow:0 10px 10px rgba(0,0,0,0.75)}
		@media (min-width:620px){h1{width:580px}}
	h2{
		display:block;
		height:auto;width:290px;
		margin:15px auto 0 auto;
		font:600 18px/16px sans-serif;color:#354592;text-align:center;
		text-shadow:0 10px 10px rgba(0,0,0,0.75)}
		@media (min-width:620px){h1{width:580px}}
	.old span,.old div,.old input,.off{opacity:0.6}
	.alert{
		z-index:20;
		position:fixed;
		height:auto;width:280px;
		top:40%;left:calc(50% - 150px);padding:10px;
		background-color:rgba(250,160,70,0.9);
		border-radius:5px;
		font:300 16px/18px sans-serif;color:#000;text-align:justify;
		box-shadow:5px 10px 10px rgba(0,0,0,0.9);
		cursor:pointer}
		.alert:before{
			display:inline-block;
			font:600 36px/36px sans-serif;color:#ff0000;
			margin-right:5px;
			content:'!'}
		.alert:hover{background-color:rgba(225,145,60,0.9)}
	.part,.minPart{
		position:relative;overflow:hidden;
		height:auto;width:300px;
		margin:25px auto 25px auto;padding:0;
		border-radius:10px;
		box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1)}
		@media (min-width:620px){.part{width:590px}}

		input[type="text"],input[type="password"],input[type="button"],input[type="submit"]{
			-webkit-appearance:none;-moz-appearance:none;appearance:none!important;
			margin:0;
			text-align:center;
			cursor:pointer}
			input[type="text"],input[type="password"]{
				display:inline-block;padding:0;
				color:inherit;
				border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;
				border:2px solid #B5B4B7}
			input[type="button"],input[type="submit"]{
				display:block;
				height:38px;
				float:right;margin:0 calc(50% - 145px) 5px 5px;padding:5px 15px;
				border:none;border-radius:5px;
				color:#fff;
				background:#4C62CF;
				box-shadow:0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22)}
				@media (min-width:620px){input[type="button"]{margin:0 calc(50% - 290px) 5px 5px} input[type="submit"]{margin:0 calc(50% - 290px) 5px 5px}}
				.part input[type="button"],.part input[type="submit"],.minPart input[type="button"],.minPart input[type="submit"]{float:right;margin:0 5px 5px 5px;}
				input[type="button"]:hover,input[type="submit"]:hover{color:#fff;background:#354592}
		textarea{
			display:block;
			font:normal 14px/16px 'Arial';color:inherit;
			border-radius:5px;border:2px solid #B5B4B7;
			resize:none}
		select{
			height:36px;width:94px;
			-webkit-appearance:none;box-shadow:none;
			/* for FF */
			-moz-appearance:none;text-indent:0.01px;text-overflow:'';
			/* for IE */
			-ms-appearance:none;
			appearance:none!important;
			color:inherit;
			border:2px solid #B5B4B7;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;
			background:url('../images/select-arrow.png')no-repeat, #fff;
			background-position:right center;
			cursor:pointer}
		.item,.minItem{
			position:relative;overflow:hidden;
			height:auto;width:290px;
			margin:15px auto 15px auto;padding:5px 0;
			border-radius:5px;
			background:url(../images/bg2.png);background-color:#fff;
			box-shadow:0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22)}
			@media (min-width:620px){.item{width:580px}}
			.part .item,.minPart .minItem{margin:0 auto 5px auto}
			.part .item:first-child,.minPart .minItem:first-child{margin-top:5px}
	/*>>>>> ORDERS */
	.orders .time,.orders .summ{position:absolute;top:5px;height:50px;width:145px;;color:#354592}
	.orders .time{left:0px}
	.orders .summ{right:0px}
	.orders .delivery{height:auto;width:calc(100% - 290px);margin:0px 145px}
		@media (max-width:620px){.orders .delivery{width:100%;margin:50px 0px 0px 0px}}

		.orders div span{display:block}
			.orders div span:before{display:inline-block;float:left;content:''}
		.orders div span:first-child{overflow:hidden;height:36px}
			.orders div span:first-child:before{
				height:24px;width:24px;
				margin:6px}
		.orders div span:last-child{overflow:hidden;font:300 12px/14px sans-serif;color:#7979B7}
			.orders div span:last-child:before{
				height:12px;width:12px;
				margin:1px 1px 1px 12px;
				font-weight:600}

		.orders .time span:first-child{font:600 12px/18px sans-serif}
			.orders .time span:first-child:before{background:url(../images/iUser.png) 0px -78px;background-size:100% auto}
			.orders .time span:last-child:before{content:'#'}
			
		.orders .delivery span:first-child{font:300 14px/18px sans-serif}
			.orders .delivery span:first-child:before{background:url(../images/iUser.png) 0px -104px;background-size:100% auto}
			.orders .delivery span:last-child:before{background:url(../images/iUser.png) 0px -78px;background-size:100% auto}
	
		.orders .summ span:first-child{font:600 14px/36px sans-serif}
			.orders .summ span:first-child:before{background:url(../images/iUser.png) 0px -130px;background-size:100% auto}
			.orders .summ span:first-child:after{font-size:10px;content:' грн'}
			.orders .summ span:last-child:before{content:'%'}
			.orders .summ span:last-child:after{font-size:10px;content:' грн'}

	.total{
		display:inline-block;
		height:36px;width:150px;
		float:right;margin:0px 5px 5px 5px;
		border-radius:5px;
		font:600 14px/36px sans-serif;
		background:url(../images/bg2.png);background-color:#fff;
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}
		.total:before{
			display:inline-block;
			height:24px;width:24px;
			float:left;margin:6px;
			content:'';
			background:url(../images/iUser.png) 0px -182px;background-size:100% auto}
		.total:after{font-size:10px;content:' грн'}
	/* ORDERS <<<<<*/

	/*>>>>> FEEDBACKS */
	.item.feedbacks{overflow:visible}
		.item.feedbacks:before{
			position:absolute;visibility:visible;
			top:0px;left:-10px;
			border:10px solid transparent;border-top:12px solid #F9F9F9;
			content:''}
		.item.feedbacks div:first-child{float:left}
			.item.feedbacks div:first-child span{
				display:inline-block;
				font:300 12px/28px sans-serif;color:#7979B7}
				.item.feedbacks div:first-child span:first-child:before{
					display:inline-block;
					height:24px;width:24px;
					float:left;margin:2px 5px;
					content:'';
					background:url(../images/iUser.png) 0px -78px;background-size:100% auto}
		.item.feedbacks div:last-child span{
			display:inline-block;
			margin:5px 25px;
			font:300 14px/16px sans-serif}
		.item.feedbacks div:last-child span:first-child{
			position:relative;
			text-align:justify}
			.item.feedbacks div:last-child span:first-child:before,.item.feedbacks div:last-child span:first-child:after{
				position:absolute;
				font:600 32px/32px serif;color:#7979B7}
			.item.feedbacks div:last-child span:first-child:before{left:-20px;content:'\201c'}
			.item.feedbacks div:last-child span:first-child:after{right:-20px;content:'\201d'}
		.item.feedbacks div:last-child span:last-child{
			color:#7979B7;
			border-top:2px dotted #7979B7}
	/* FEEDBACKS <<<<<*/

	/* >>>>> SETTINGS */
	.settingsContact input[type="text"],.settingsPassword input[type="password"]{
		height:36px;width:276px;
		float:left;margin:5px}
	.settingsContact:after,.settingsPassword:after{
		display:inline-block;
		margin:0 10px;
		font:300 12px/16px sans-serif;color:#354592}
		.settingsContact:after{content:'- контактные данные (недоступны другим пользователям)'}
		.settingsPassword:after{content:'- пароль для входа в Кабинет (можете изменить его в любой момент)'}
	/* SETTINGS <<<<<*/

	/* >>>>> ADD SHOP */
	.addShopName input[type="text"],.addShopPassword input[type="password"]{
		height:36px;width:276px;
		float:left;margin:5px}
	.addShopMap iframe{
		display:block;
		height:320px;width:calc(100% - 14px);
		margin:5px auto;
		border-radius:5px;
		border:none}
	.addShopAddress textarea{
		height:64px;width:calc(100% - 24px);
		margin:5px auto;padding:5px}
		@media (min-width:620px){.addShopAddress textarea{height:32px}}
	.addShopName:after,.addShopPassword:after,.addShopMap:after,.addShopCity:after,.addShopAddress:after{
		display:inline-block;
		margin:0 10px;
		font:300 12px/16px sans-serif;text-align:justify;color:#354592}
		.addShopName:after{content:'- название Вашего магазина и мобильный те\ADле\ADфон для СМС уведомлений о новых заказах'}
		.addShopPassword:after{content:'- пароль для входа в магазин (будет исполь\ADзо\ADвать продавец магазина)'}
		.addShopMap:after{content:'- отметьте на карте точное расположение Ва\ADше\ADго ма\ADга\ADзи\ADна (для корректной работы с за\ADка\ADза\ADми, расчета возможности доставки или са\ADмо\ADвы\ADво\ADза с Вашего магазина)'}
		.addShopCity:after{content:'- Город'}
		.addShopAddress:after{content:'- отредактируйте адрес магазина так, чтобы По\ADку\ADпа\ADте\ADли быстро нашли Ваш магазин (на\ADпри\ADмер: уточните этаж, вход т.д.)'}
	/* ADD SHOP <<<<<*/

	/* >>>>> SHOPS */
	.shopName{display:block;float:left;margin-left:5px;font:600 14px/28px sans-serif}
			.shopName sup{display:inline-block;margin-left:2px;padding:0 6px;font:600 10px/16px sans-serif;color:#fff;border-radius:8px;background:#354592}
				.shopName sup:before{content:'id '}
	.shopAddress{display:block;float:left;font:300 12px/14px sans-serif}
		.shopAddress:before{
			display:inline-block;
			float:left;
			height:24px;width:24px;
			margin:2px 16px;
			content:'';
			background:url(../images/iUser.png) 0px -104px;background-size:100% auto}
	.shopDelivery,.shopDiscount{
		height:auto;width:280px;
		float:left;margin:0px 5px;
		border-bottom:2px solid #B5B4B7}
		.shopDelivery:last-child,.shopDiscount:last-child{border:none}
		.shopDelivery:before{
			height:36px;width:36px;
			float:left;margin:5px;
			content:''}
			.shopDelivery.pickup:before{background:url(../images/iUser.png) 0px -468px;background-size:100% auto}
			.shopDelivery.express:before{background:url(../images/iUser.png) 0px -507px;background-size:100% auto}
			.shopDelivery.today:before{background:url(../images/iUser.png) 0px -546px;background-size:100% auto}
			.shopDelivery.tomorrow:before{background:url(../images/iUser.png) 0px -585px;background-size:100% auto}
			.shopDelivery.post:before{background:url(../images/iUser.png) 0px -624px;background-size:100% auto}
		.shopDelivery .first{
			display:block;
			float:right;
			height:auto;width: calc(100% - 46px);
			font:600 14px/18px sans-serif;color:#354592}
			.shopDelivery.pickup .first:after{content:'Самовывоз из магазина'}
			.shopDelivery.express .first:after{content:'Экспресс доставка'}
			.shopDelivery.today .first:after{content:'Доставка сегодня'}
			.shopDelivery.tomorrow .first:after{content:'Доставка на завтра'}
			.shopDelivery.post .first:after{content:'Пересылка по Украине'}
		.shopDelivery .second{
			display:block;
			float:right;
			height:auto;width: calc(100% - 46px);
			font:300 12px/14px sans-serif}
			.second span:first-child:before{content:''}
			.second span:before{font-weight:bolder;color:#000;content:' | '}
			.second span:first-child:after{content:''}
			.second span:after{font-size:10px;content:'грн'}

		.shopDiscount:before{
			height:36px;width:36px;
			float:left;margin:5px;
			content:'';
			background:url(../images/iUser.png) 0px -663px;background-size:100% auto}
		.shopDiscount span:first-child{
			display:block;
			float:right;
			height:auto;width: calc(100% - 46px);
			font:600 14px/28px sans-serif;color:#354592}
				.shopDiscount span:first-child:before{content:'Скидка магазина '}
				.shopDiscount span:first-child:after{content:'%'}
		.shopDiscount span:last-child{
			display:block;
			float:right;
			height:auto;width: calc(100% - 46px);
			font:300 12px/18px sans-serif}
				.shopDiscount span:last-child:before{content:'при заказе от '}
				.shopDiscount span:last-child:after{font-size:10px;content:'грн'}
	/* SHOPS <<<<<*/

	/* >>>>> CHANGE */
	.changeTimetable div,.changeDelivery div,.changeDiscount div,.changeContacts div{
		height:auto;width:280px;
		float:left;margin:0px 5px;padding:5px 0;
		font:normal 12px/36px sans-serif;text-align:center;
		border-bottom:2px solid #B5B4B7}
		.changeContacts input[type="text"],.changeContacts input[type="password"]{
			height:36px;width:276px;
			float:left;margin:5px}
		.changeTimetable div:last-child,.changeDelivery div:last-child,.changeDiscount div:last-child,.changeContacts div:last-child{border:none}
		.changeTimetable div:first-child:before,.changeDelivery div:first-child:before,.changeDiscount div:first-child:before{
			height:36px;width:36px;
			float:left;
			content:''}
		.deleteShop:before{content:'удалить магазин';text-decoration:underline;cursor:pointer}
			.deleteShop:hover:before{color:#ff0000}
		.changeTimetable div:first-child:before{background:url(../images/iUser.png) 0px -117px;background-size:100% auto}
		.changeTimetable div:first-child:after{font:600 16px/36px sans-serif;color:#354592;content:'График работы магазина'}
		.changeTimetable .MO:before{content:"Понедельник"}
		.changeTimetable .TU:before{content:"Вторник"}
		.changeTimetable .WE:before{content:"Среда"}
		.changeTimetable .TH:before{content:"Четверг"}
		.changeTimetable .FR:before{content:"Пятница"}
		.changeTimetable .SA:before{content:"Суббота"}
		.changeTimetable .SU:before{content:"Воскресенье"}
		.changeTimetable div select{height:36px;width:94px}
			.changeTimetable div select.from{float:left}
			.changeTimetable div select.to{float:right}

		.changeDiscount div:first-child:before{background:url(../images/iUser.png) 0px -663px;background-size:100% auto}
		.changeDiscount div:first-child:after{font:600 16px/36px sans-serif;color:#354592;content:'Скидки магазина'}
		.changeDiscount div:before{content:'Скидка '}
		.changeDiscount div:after{content:'при заказе от '}
			.changeDiscount div select{height:36px;width:54px}
			.changeDiscount div input[type="text"]{height:32px;width:90px;float:right;margin:0px}

		.changeDelivery div:first-child:after{font:600 12px/18px sans-serif;color:#354592;white-space:pre}
		.changeDelivery .pickup:before{background:url(../images/iUser.png) 0px -468px;background-size:100% auto}
		.changeDelivery .pickup:after{content:'Самовывоз из магазина\A(если есть магазин)'}
		.changeDelivery .express:before{background:url(../images/iUser.png) 0px -507px;background-size:100% auto}
		.changeDelivery .express:after{content:'Экспресс доставка\A(радиус доставки)'}
		.changeDelivery .today:before{background:url(../images/iUser.png) 0px -546px;background-size:100% auto}
		.changeDelivery .today:after{content:'Доставка сегодня\A(прием заказов)'}
		.changeDelivery .tomorrow:before{background:url(../images/iUser.png) 0px -585px;background-size:100% auto}
		.changeDelivery .tomorrow:after{content:'Доставка на завтра\A(прием заказов)'}
		.changeDelivery .post:before{background:url(../images/iUser.png) 0px -624px;background-size:100% auto}
		.changeDelivery .post:after{content:'Пересылка по Украине\A(тип оплаты)'}

		.changeDelivery .delMin:after{content:'Минимальная сумма заказа:'}
		.changeDelivery .delCost:after{content:'Стоимость доставки:'}
		.changeDelivery .delFree:after{content:'Бесплатная доставка от:'}

			.changeDelivery div select{height:36px;width:94px;float:right}
			.changeDelivery div input[type="text"]{height:32px;width:90px;float:right;margin:0px}
	/* CHANGE <<<<<*/
	.balanceTotal:before{content:'Баланс: '}
	.balanceTotal:after{font-size:12px;content:' грн'}
	.balancePay:before,.balanceBonus:before{
		height:72px;width:72px;
		float:left;margin:4px;
		content:''}
	.balancePay span:before,.balanceBonus span:before{
		display:inline-block;
		font:600 16px/36px sans-serif;color:#354592}
	.balancePay span:after,.balanceBonus span:after{
		display:inline-block;
		clear:both;
		font:300 12px/36px sans-serif}
	.balancePay:after,.balanceBonus:after{
		display:inline-block;
		margin:0 10px;
		font:300 12px/16px sans-serif;text-align:justify;color:#354592}

		.balancePay:before{background:url(../images/iUser.png) 0px -1404px;background-size:100% auto}
		.balancePay span:before{content:'Пополнить картой'}
		.balancePay span:after{content:'сумма пополнения:'}
		.balancePay:after{content:'- можете пополнить баланс банковской картой любого банка Украины'}

		.balanceBonus:before{background:url(../images/iUser.png) 0px -1482px;background-size:100% auto}
		.balanceBonus span:before{content:'Пополнить бонусами'}
		.balanceBonus span:after{content:'введите промо-код:'}
		.balanceBonus:after{content:'- если у Вас есть промо-код, активируйте его и получите бонус на баланс'}

	.balancePay input[type="text"],.balanceBonus input[type="text"]{height:32px;width:75px;float:right;margin:0px 10px 0px 0px}